{% extends "layouts/main.html" %}

{% block pageTitle %}
  Exam library tracker – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<style>
  .sortButton {
    color: #1d70b8;
    cursor: pointer;
  }

  .hide {
    display: none;
  }

  #banner.hide:target,
  #banner2.hide:target {
    display: block;
  }
</style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="hide" id="banner">
        {% set html %}
          <h3 class="govuk-notification-banner__heading">
            Examination library category published
          </h3>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: "success"
        }) }}
      </div>

      <div class="hide" id="banner2">
        {% set html %}
          <h3 class="govuk-notification-banner__heading">
            Examination library category updated
          </h3>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: "success"
        }) }}
      </div>

      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            Unpublished changes have been made.
          </p>
          <p class="govuk-body"><a class="govuk-notification-banner__link" href="republish_examLibrary">Preview and publish</a> the new references to be added to the library.</p>
        </div>
      </div>

      <span class="govuk-caption-l">Examination library</span>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
        Deadline 1
      </h1>

      <p class="govuk-body">Examination library references for unpublished documents and representations are provisional only. Once the examination library is published, these references are final and cannot be changed.</p>
      <p class="govuk-body"><a class="govuk-link" href="deadline1">View documents in published examination library (67)</a></p>
      <div class="govuk-button-group">
        <form action="republish_examLibrary">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Publish to library
          </button>
        </form>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <p class="govuk-body-s">Showing <b>1</b> to <b>4</b> of <b>4</b> results</p>
        </div>
        <div class="govuk-grid-column-one-half text-align--right">
          <p class="govuk-body-s govuk-!-text-align-right">
            <span class="govuk-!-margin-right-2"><strong>Results per page</strong></span>
            <span class="govuk-!-margin-left-1">25<span class="govuk-visually-hidden"> results per page</span></a></span>
            <span class="govuk-!-margin-left-1">|</span>
            <span class="govuk-!-margin-left-1"><a class="govuk-link" href="#"><span class="govuk-visually-hidden">View </span>50<span class="govuk-visually-hidden"> results per page</span></a>   </span>
            <span class="govuk-!-margin-left-1">|</span>			
            <span class="govuk-!-margin-left-1"><a class="govuk-link" href="#"><span class="govuk-visually-hidden">View </span>100<span class="govuk-visually-hidden"> results per page</span></a></span>
          </p>
        </div>
      </div>
      <table class="govuk-table govuk-table--small-text-until-tablet">
        <caption class="govuk-table__caption govuk-table__caption--m">
          Deadline 1 documents &nbsp;&nbsp;
          <strong class="govuk-tag govuk-tag--blue">
            Drafts
          </strong>
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter sortButton">Draft reference &#9660;</a></th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-half sortButton">Document description &#9660;</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter sortButton">From &#9660;</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter sortButton">Document status &#9660;</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Actions</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              REP1-001a
            </th>
            <td class="govuk-table__cell">
              <p class="govuk-body"><a href="">Example updated document</a></p>
            </td>
            <td class="govuk-table__cell">
              <p class="govuk-body">Highways England</p>
            </td>
            <td class="govuk-table__cell">
              Published
            </td>
            <td class="govuk-table__cell">
              <p class="govuk-body"><a class="govuk-link" href="../ProjectDocumentation/document-properties">View/Edit properties</a></p>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              REP1-005a
            </th>
            <td class="govuk-table__cell">
              <p class="govuk-body"><a href="">Example updated document</a></p>
            </td>
            <td class="govuk-table__cell">
              <p class="govuk-body">Highways England</p>
            </td>
            <td class="govuk-table__cell">
              Published
            </td>
            <td class="govuk-table__cell">
              <p class="govuk-body"><a class="govuk-link" href="../ProjectDocumentation/document-properties">View/Edit properties</a></p>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              REP1-068
            </th>
            <td class="govuk-table__cell">
              <p class="govuk-body"><a href="">Example late submission</a></p>
            </td>
            <td class="govuk-table__cell">
              <p class="govuk-body">Highways England</p>
            </td>
            <td class="govuk-table__cell">
              Published
            </td>
            
            <td class="govuk-table__cell">
              <p class="govuk-body"><a class="govuk-link" href="../ProjectDocumentation/document-properties">View/Edit properties</a></p>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              REP1-069
            </th>
            <td class="govuk-table__cell">
              <p class="govuk-body"><a href="">Example late submission</a></p>
            </td>
            <td class="govuk-table__cell">
              <p class="govuk-body">Highways England</p>
            </td>
            <td class="govuk-table__cell">
              Published
            </td>
            
            <td class="govuk-table__cell">
              <p class="govuk-body"><a class="govuk-link" href="../ProjectDocumentation/document-properties">View/Edit properties</a></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
