{% extends "layouts/main.html" %}

{% block pageTitle %}
  Exam library tracker – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
				Check details and publish Deadline 2 to the examination library
			</h1>      
      <p class="govuk-body">The Deadline 2 examination library will contain references for 67 documents. Showing 1 - 67 documents.</p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <table class="govuk-table govuk-table--small-text-until-tablet">
        <caption class="govuk-table__caption govuk-table__caption--m">
          Items in the examination library
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Final reference</a></th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Document description</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">From</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for i in ['01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25'] %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              REP2-0{{ i }}
            </th>
            <td class="govuk-table__cell">
              <p class="govuk-body"><a href="">Example document</a></p>
            </td>
            <td class="govuk-table__cell">
              <p class="govuk-body">Highways England</p>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          All the documents listed will be permanently assigned examination library reference numbers. Check all required documents are listed.
        </strong>
      </div>

      <div class="govuk-button-group">
        <form action="deadline2_published#banner">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Publish to examination library
          </button>
        </form>
      </div>
      
    </div>
  </div>

{% endblock %}
