{% extends "layouts/main.html" %}

{% block pageTitle %}
  Exam library tracker – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
				Check details and update Deadline 1 in the examination library
			</h1>      
      <p class="govuk-body">The Deadline 1 category for the examination library will contain references for <strong>71</strong> items.</p>
      <p class="govuk-body"><strong>4 items on this page will be added to the library.</strong></p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <p class="govuk-body-s">Showing <b>1</b> to <b>25</b> of <b>71</b> results</p>
    </div>
    <div class="govuk-grid-column-one-half text-align--right">
      <p class="govuk-body-s govuk-!-text-align-right">
        <span class="govuk-!-margin-right-2"><strong>Results per page</strong></span>
        <span class="govuk-!-margin-left-1">25<span class="govuk-visually-hidden"> results per page</span></a></span>
        <span class="govuk-!-margin-left-1">|</span>
        <span class="govuk-!-margin-left-1"><a class="govuk-link" href="#"><span class="govuk-visually-hidden">View </span>50<span class="govuk-visually-hidden"> results per page</span></a>   </span>
        <span class="govuk-!-margin-left-1">|</span>			
        <span class="govuk-!-margin-left-1"><a class="govuk-link" href="#"><span class="govuk-visually-hidden">View </span>100<span class="govuk-visually-hidden"> results per page</span></a></span>
      </p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <table class="govuk-table govuk-table--small-text-until-tablet">
        <caption class="govuk-table__caption govuk-table__caption--m">
          Deadline 1
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</a></th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Document</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">From</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              REP1-001
            </th>
            <td class="govuk-table__cell">
              <a href="">Example document</a>
            </td>
            <td class="govuk-table__cell">
              Highways England
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              REP1-001a
            </th>
            <td class="govuk-table__cell">
              <a href="">Example updated document</a>
            </td>
            <td class="govuk-table__cell">
              Highways England
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              REP1-002
            </th>
            <td class="govuk-table__cell">
              <a href="">Example document</a>
            </td>
            <td class="govuk-table__cell">
              Highways England
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              REP1-002a
            </th>
            <td class="govuk-table__cell">
              <a href="">Example updated document</a>
            </td>
            <td class="govuk-table__cell">
              Highways England
            </td>
          </tr>
          {% for i in ['03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23'] %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              REP1-0{{ i }}
            </th>
            <td class="govuk-table__cell">
              <a href="">Example document</a>
            </td>
            <td class="govuk-table__cell">
              Highways England
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <nav class="govuk-pagination" aria-label="Pagination">
        <ul class="govuk-pagination__list">
          <li class="govuk-pagination__item govuk-pagination__item--current">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
              1
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
              2
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
              3
            </a>
          </li>
        </ul>
        <div class="govuk-pagination__next">
          <a class="govuk-link govuk-pagination__link" href="#" rel="next">
            <span class="govuk-pagination__link-title">
              Next<span class="govuk-visually-hidden"> page</span>
            </span>
            <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
          </a>
        </div>
      </nav>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          All the documents listed will be permanently assigned examination library reference numbers. Check all required documents are listed.
        </strong>
      </div>

      <div class="govuk-button-group">
        <form action="deadline1_republished#banner">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Publish to examination library
          </button>
        </form>
      </div>
      
    </div>
  </div>

{% endblock %}
