//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

.govuk-header, .govuk-header__container {
  background-color: rgb(0, 0, 0);
  border-bottom: none;
  padding-top: 22px;
  padding-bottom: 22px;
}

.govuk-header {
  border-bottom: 0.5rem solid #13a19b;
}

.govuk-main-wrapper {
  padding-top: 0px;
}

.grey-background {
  box-shadow: #f3f2f1 900px 0px, #f3f2f1 -900px 0px;
}


/* Box styling for the search panel */
.bo-panel {
  border-left: 2px solid #b1b4b6;
  border-right: 2px solid #b1b4b6;
  border-bottom: 2px solid #b1b4b6;
  border-top: 5px solid #1d70b8;
  border-radius: 2px;
  padding: 20px;
  margin-bottom: 16px;
  background: white;
}

/* styling for the side panels */
.side-nav {
  padding-right: 20px;
}

.side-nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.side-nav li {
  margin-bottom: 5px;
}

.side-nav a {
  display: block;
  padding: 10px 8px;
  font-size: 16px;
  text-decoration: none;
  color: #1d70b8;
  border-left: 5px solid transparent;
}

.side-nav a:hover {
  background-color: #f3f2f1;
}

.side-nav a.selected {
  background-color: #f3f2f1;
  font-weight: bold;
  border-left: 6px solid #00847f;
  color: #0b0c0c;
}

//single accordion component
.hide-accordion-controls .govuk-accordion__controls {
  display: none;
}

//sort button on tables
.sortButton {
  color: #1d70b8;
  cursor: pointer;
}

.middle-align {
  vertical-align: middle;
}

/* Front office filters dropdown */
.filters .govuk-details__summary::before {
  clip-path: polygon(6.38% 22.63%, 49.5% 65.75%, 92.63% 22.63%, 100% 30%, 50% 80%, 0% 30%);
  width: 3px;
  height: 3px;
  border-color: inherit;
  border-width: 8px 0 4px 12.124px;
}

.filters dl .govuk-details__summary::before {
  background-color: black;
  color: black;
}

dl .filters {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #b1b4b6;
  .govuk-details__summary {
    margin-left: 15px;
  }
  .govuk-details__text {
    padding-left: 0px;
    margin-left: 15px;
  }
}

.filters .govuk-details__text {
  border: none;
  padding: 20px;
}

.filters .govuk-details__summary-text {
  text-decoration: none;
}

.filters.govuk-details[open] > .govuk-details__summary::before {
  clip-path: polygon(0% 71.88%, 49.5% 12.63%, 98.5% 71.88%, 91.63% 78.71%, 50% 26.88%, 7.37% 79.29%);
  width: 3px;
  height: 3px;
  border-color: inherit;
}

/* Front office filter chip */
.filterchip {
  background-color: #f3f2f1;
  padding: 8px;
  border-radius: 5px;
  margin-left: 10px;
  border: 1px solid #505a5f;
  text-decoration: none;
  color: black;
}

.filterchip:visited {
  color: black;
}

/* accordion without the extra show all controls */
.accordion-no-controls .govuk-accordion__controls {
  display: none;
}