{% extends "layouts/main.html" %}

{% block pageTitle %}
Welcome to Find a National Infrastructure Project – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">



  <style>
    .side-nav {
      padding-right: 20px;
    }

    .side-nav ul {
      list-style: none;
      padding-left: 0;
      margin: 0;
    }

    .side-nav li {
      margin-bottom: 5px;
    }

    .side-nav a {
      display: block;
      padding: 10px 8px;
      text-decoration: none;
      font-size: 16px;
      color: #1d70b8;
      border-left: 5px solid transparent;
    }

    .side-nav a:hover {
      background-color: #f3f2f1;
    }

    .side-nav a.selected {
      background-color: #f3f2f1;
      font-weight: bold;
      border-left: 5px solid #1d70b8;
      color: #0b0c0c;
    }

    .masthead {
      background-color: #00847f;
      padding-top: 30px;
      box-shadow: #00847f 600px 0px, #00847f -600px 0px;
    }

    .masthead p, .masthead h1, .masthead a:link, .masthead a:visited {
      color: white;
    }

    .govuk-header, .govuk-header__container {
    background-color: rgb(7, 71, 69);
    border-bottom: none;
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .govuk-header {
    border-bottom: 10px solid #13a19b;
  }

    .govuk-main-wrapper {
      padding-top: 0px;
    }

    .greybg {
      box-shadow: #f3f2f1 600px 0px, #f3f2f1 -600px 0px;
    }

  </style>

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a beta service - your  <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  <section aria-label="Service information" class="govuk-service-navigation greybg"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container govuk-width-container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
            <a class="govuk-service-navigation__link" href="index">
              <strong>Home</strong>
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="search" aria-current="true">
              <strong class="govuk-service-navigation__active-fallback"><strong>All projects</strong></strong>
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="#">
              <Strong>Detailed information</Strong>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>

<div class="govuk-width-container masthead">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Welcome to Find a National Infrastructure Project</h1>
        <p class="govuk-body">
          Here you can find more information about Nationally Significant Infrastructure Projects (NSIPs). These are large scale projects like power stations, highways and power lines. They are treated separately from normal local authority planning because of their size and importance to wider communities.
        </p>
        <p class="govuk-body">
          This site is managed by the Planning Inspectorate, the government agency responsible for examining applications of this size and scale in England and Wales.
        </p>
        <p class="govuk-body govuk-body--font-white">This is a new service. If you are visiting for information on a Welsh project, visit our
          <a class="govuk-link" href="#">
            old website</a>.
        </p>
      </div>
    </div>
  </main>
</div>

<section class="page-section full-width-section full-width-section--bg-lightgrey govuk-!-margin-bottom-6 govuk-!-padding-top-6 greybg" style="background-color: #f3f2f1;">
  <div class="page-section__content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">
          I am looking for a project
        </h2>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <p class="govuk-body">
          Search by project name or applicant
        </p>

        <div class="search-container">
          <input class="govuk-input govuk-!-width-two-thirds" id="event-name" name="event-name" type="text"
              aria-describedby="event-name-hint">
          <a class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button" href="search">
              Search
          </a>
      </div>
      </div>
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m ">I want to view all projects</h2>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <p class="govuk-body">See a <a class="govuk-link" href="search">complete list of all projects</a></p>
        <p class="govuk-body">See a <a class="govuk-link" href="searchMapViewFullscreen">map view of all projects</a></p>
      </div>
    </div>
  </div>
  <div class="govuk-!-padding-bottom-9"></div>
</section>



<section>
  <div class="page-section__content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Information for members of the public</h2>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <a href="#" style="text-decoration: none;">
          <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
          <h3 class="govuk-link">See the process</h3>
          <p class="govuk-body-m">Here you can view the stages of an application goes through from start to finish.</p>
        </a>
      </div>
      <div class="govuk-grid-column-one-half">
        <a href="#" style="text-decoration: none;">
          <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
          <h3 class="govuk-link">How to have your say on a project</h3>
          <p class="govuk-body-m">Find out everything you need to know about sharing your views on a project.</p>
        </a>
      </div>
    </div>
  </div>
  <div class="govuk-!-padding-bottom-9"></div>
</section>
<section>
  <div class="page-section__content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Information for professional users</h2>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <a href="#" style="text-decoration: none;">
          <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
          <h3 class="govuk-link">View detailed information</h3>
          <p class="govuk-body-m">Find advice pages, relevant legislation and national policy documents.</p>
        </a>
      </div>
      <div class="govuk-grid-column-one-half">
        <a href="#" style="text-decoration: none;">
          <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
          <h3 class="govuk-link">See the process of submitting a project</h3>
          <p class="govuk-body-m">If you want to build a new development, this is what you need to know before you start.</p>
        </a>
      </div>
    </div>
  </div>
  <div class="govuk-!-padding-bottom-9"></div>
</section>
<section>
  <div class="page-section__content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Updates and contact information</h2>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <a href="#" style="text-decoration: none;">
          <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
          <h3 class="govuk-link">I need help</h3>
          <p class="govuk-body-m">How to get in contact with us.</p>
        </a>
      </div>
      <div class="govuk-grid-column-one-half">
        <a href="#" style="text-decoration: none;">
          <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
          <h3 class="govuk-link">See the latest news</h3>
          <p class="govuk-body-m">See the latest NSIP news.</p>
        </a>
      </div>
    </div>
  </div>
</section>
</div>



{% endblock %}