{% extends "layouts/main.html" %}

{% block pageTitle %}
Project Search – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<style>
  .layout-slots__divider{
    color: #ffffff
  }
  a {
    color: #1d70b8;
  }
  .grey-box {
    display: none;
  }

  .govuk-main-wrapper {
    padding-top: 0px;
  }

  .govuk-header, .govuk-header__container {
    background-color: rgb(7, 71, 69);
    border-bottom: none;
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .govuk-header {
    border-bottom: 10px solid #13a19b;
  }

  .greybg {
    box-shadow: #f3f2f1 800px 0px, #f3f2f1 -800px 0px;
  }

  .side-nav {
        padding-right: 20px;
      }

      .side-nav ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
      }

      .side-nav li {
        margin-bottom: 5px;
      }

      .side-nav a {
        display: block;
        padding: 10px 8px;
        font-size: 16px;
        text-decoration: none;
        color: #1d70b8;
        border-left: 5px solid transparent;
      }

      .side-nav a:hover {
        background-color: #f3f2f1;
      }

      .side-nav a.selected {
        background-color: #f3f2f1;
        font-weight: bold;
        border-left: 6px solid #00847f;
        color: #0b0c0c;
      }

      .govuk-details__summary::before {
    clip-path: polygon(6.38% 22.63%, 49.5% 65.75%, 92.63% 22.63%, 100% 30%, 50% 80%, 0% 30%);
    background-color: black;
    color: black;
    width: 3px;
    height: 3px;
    background-color: black;
    color: black;
  }

  .filters {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #b1b4b6;
  }

  .document-item {
    padding-top: 12px;
    padding-bottom: 0px;
  }

  .filters .govuk-details__summary {
    margin-left: 15px;
  }

  .filters .govuk-details__summary-text {
    text-decoration: none;
  }

  .filters .govuk-details__text {
    border: none;
    padding-left: 0px;
    margin-left: 15px;

  }


  .govuk-details[open] > .govuk-details__summary::before {
    clip-path: polygon(0% 71.88%, 49.5% 22.63%, 98.5% 71.88%, 91.63% 78.71%, 50% 36.88%, 7.37% 79.29%);
    width: 3px;
    height: 3px;
  }

</style>


<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a beta service - your  <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>


<section aria-label="Service information" class="govuk-service-navigation greybg"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container govuk-width-container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="index" aria-current="true">
              <strong>Home</strong>
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="search">
              <strong class="govuk-service-navigation__active-fallback"><strong>All projects</strong></strong>
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="#">
              <Strong>Detailed information</Strong>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>

<div class="govuk-grid-row" style="padding-top: 48px;">
  <div class="govuk-grid-column-full">

    {% include "../_includes/project-description.html" %}

  <!-- 
  <div class="govuk-grid-column-one-third" style="padding-left: 0px;">

    <nav class="side-nav">
      <ul class="govuk-list">
        <li><a href="Project_info">Project information</a></li>
        <li><a href="Project_documents" class="selected">Documents</a></li>
        <li><a href="Project_relReps">Relevant representations (registration comments)</a></li>
        <li><a href="Project_examTimetable">Examination timetable</a></li>
        <li><a href="Project_haveYourSay">Have your say</a></li>
        <li><a href="Project_updates">Get updates</a></li>
        <li><a href="Project_s51">Section 51 advice</a></li>
      </ul>
    </nav>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h2 class="govuk-heading-m">Filter</h2>
    <p class="govuk-link govuk-body-s">Show all sections</p>

    <dl class="govuk-summary-list">
      <details class="govuk-details filters">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text filtersText">
            Sort by
          </span>
        </summary>
        <div class="govuk-details__text">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changedName" checked name="changedName" type="radio" value="month">
                  <label class="govuk-label govuk-radios__label" for="changedName">
                    Examination library
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="month">
                  <label class="govuk-label govuk-radios__label" for="changedName">
                    Name (ascending)
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="month">
                  <label class="govuk-label govuk-radios__label" for="changedName">
                    Name (descending)
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="month">
                  <label class="govuk-label govuk-radios__label" for="changedName">
                    Author (ascending)
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="month">
                  <label class="govuk-label govuk-radios__label" for="changedName">
                    Author (descending)
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="year">
                  <label class="govuk-label govuk-radios__label" for="changedName-2">
                    Updated (newest)
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="year">
                  <label class="govuk-label govuk-radios__label" for="changedName-2">
                    Updated (oldest)
                  </label>
                </div>
                
              </div>
            </fieldset>
          </div>
        </div>
      </details>
      <details class="govuk-details filters">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text filtersText">
            Examination library (28)
          </span>
        </summary>
        <div class="govuk-details__text">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <a class="govuk-body-s govuk-link" style="color: #1d70b8;">Select all filters</a>
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Application documents (APP)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Adequecy of Consultation responses (AoC)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Procedural decisions and notifications from Examining Authority (PD)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Additional submissions (AS)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Events and hearings 1 (EV1)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Events and hearings 2 (EV2)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Events and hearings 3 (EV3)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Events and hearings 4 (EV4)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Events and hearings 5 (EV5)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Events and hearings 6 (EV6)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Other documents (OD)
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </details>
      <details class="govuk-details filters">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text filtersText">
            Deadline (31)
          </span>
        </summary>
        <div class="govuk-details__text">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <a class="govuk-body-s govuk-link" style="color: #1d70b8;">Select all filters</a>
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Procedural deadline A (PDA)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Procedural deadline B (PDB)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Deadline 1 (REP1)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Deadline 2 (REP2)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Deadline 3 (REP3)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Deadline 4 (REP4)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Deadline 5 (REP5)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Deadline 6 (REP6)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Deadline 7 (REP7)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Deadline 8 (REP8)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Deadline 9 (REP9)
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </details>
    </dl>
    <button class="govuk-button">Apply filters</button>
    <hr class="layout-slots__divider">
    <span>&nbsp;</span>
    <p><strong>Related guides</strong></p>
    <p><a class="govuk-body-s govuk-link" style="color: #1d70b8;">The process for Nationally Significant Infrastructure Projects (NSIPs)</a></p>
    <p><a class="govuk-body-s govuk-link" style="color: #1d70b8;">Have your say about a national infrastructure project</a></p>
    
  </div>
  -->
  

  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-xl">
      <span class="govuk-caption-l">Longfield Solar Farm</span>
      Examination library
    </h2>
    <p class="govuk-body">An examination library lists all the documents (including comments, plans, evidence and statements) submitted about a nationally significant infrastructure project application. It covers the period from the point of application to the close of the examination phase.
    </p>
    <p class="govuk-body">
      Each document has an individual reference number. It's important to quote these reference numbers if you refer to any documents when making comments about a project.
    </p>

    {% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{{ govukAccordion({
  id: "accordion-default",
  items: [
    {
      heading: {
        text: "Application documents"
      },
      summary: {
        text: "Documents and plans submitted by the applicant for a development consent order."
      },
      content: {
        html: '
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Application form</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-three-quarter">Document</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-001</th>
              <td class="govuk-table__cell"><a>1.1 Covering Letter</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-002</th>
              <td class="govuk-table__cell"><a>1.2 Guide to the Application</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-003</th>
              <td class="govuk-table__cell"><a>1.3 Application Form</a></td>
            </tr>
          </tbody>
        </table>
        
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Plans / drawings / sections</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-three-quarter">Document</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-004</th>
              <td class="govuk-table__cell"><a>2.1 Location plans</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-005</th>
              <td class="govuk-table__cell"><a>2.2 Land plans</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-006</th>
              <td class="govuk-table__cell"><a>2.3 Floor plans</a></td>
            </tr>
          </tbody>
        </table>
    
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Draft development consent order</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-three-quarter">Document</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-007</th>
              <td class="govuk-table__cell"><a>3.1 Draft Development Consent Order</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-008</th>
              <td class="govuk-table__cell"><a>3.2 Explanatory memorandum</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-009</th>
              <td class="govuk-table__cell"><a>3.3 Validation report</a></td>
            </tr>
          </tbody>
        </table>
    
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Compulsory acquisition information</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-three-quarter">Document</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-010</th>
              <td class="govuk-table__cell"><a>3.4 Draft Development Consent Order</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-011</th>
              <td class="govuk-table__cell"><a>3.5 Explanatory memorandum</a></td>
            </tr>
          </tbody>
        </table>
    
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Consultation Report</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-three-quarter">Document</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-013</th>
              <td class="govuk-table__cell"><a>4.1 Draft Development Consent Order</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-014</th>
              <td class="govuk-table__cell"><a>4.2 Explanatory memorandum</a></td>
            </tr>
          </tbody>
        </table>
    
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Reports and statements</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-three-quarter">Document</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-015</th>
              <td class="govuk-table__cell"><a>5.1 Draft Development Consent Order</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-016</th>
              <td class="govuk-table__cell"><a>5.2 Explanatory memorandum</a></td>
            </tr>
          </tbody>
        </table>
    
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Environmental statement</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-three-quarter">Document</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-017</th>
              <td class="govuk-table__cell"><a>6.1 Draft Development Consent Order</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-018</th>
              <td class="govuk-table__cell"><a>6.2 Explanatory memorandum</a></td>
            </tr>
          </tbody>
        </table>
    
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Other documents</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-three-quarter">Document</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-020</th>
              <td class="govuk-table__cell"><a>Draft Development Consent Order</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-021</th>
              <td class="govuk-table__cell"><a>Explanatory memorandum</a></td>
            </tr>
          </tbody>
        </table>
        '
      }
    },
    {
      heading: {
        text: "Adequecy of consultation responses"
      },
      summary: {
        text: "Comments from local authorities, statutory consultees, the Planning Inspectorate."
      },
      content: {
        html: '
        <p class="govuk-body">Comments from local authorities, statutory consultees and the Planning Inspectorate about the initial application, including whether they&apos;ve been sufficiently consulted by the applicant.</p>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Adequecy of consultation representations</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Document</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">From</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">AoC-001</th>
              <td class="govuk-table__cell"><a>Adequacy of Consultation Representation</a></td>
              <td class="govuk-table__cell">City of Doncaster Council</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">AoC-002</th>
              <td class="govuk-table__cell"><a>Adequacy of Consultation Representation</a></td>
              <td class="govuk-table__cell">North Lincolnshire Council</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">AoC-003</th>
              <td class="govuk-table__cell"><a>Adequacy of Consultation Representation</a></td>
              <td class="govuk-table__cell">Nottinghamshire County Council</td>
            </tr>
          </tbody>
        </table>'
      }
    },
    {
      heading: {
        text: "Relevant representations (registration comments)"
      },
      summary: {
        text: "Comments from individuals and organisations."
      },
      content: {
        html: '
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Local authorities</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-full">Name</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">RR-001</th>
              <td class="govuk-table__cell"><a>Bristol City Council</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">RR-002</th>
              <td class="govuk-table__cell"><a>Bath City Council</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">RR-003</th>
              <td class="govuk-table__cell"><a>Manchester City Council</td>
            </tr>
          </tbody>
        </table>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Statutory consultees</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-full">Name</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">RR-004</th>
              <td class="govuk-table__cell"><a>Highways England</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">RR-005</th>
              <td class="govuk-table__cell"><a>Animal and Plant Health Agency</td>
            </tr>
          </tbody>
        </table>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Parish councils</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-full">Name</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">RR-006</th>
              <td class="govuk-table__cell"><a>Dundry Parish Council</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">RR-007</th>
              <td class="govuk-table__cell"><a>Stoke Gifford Parish Council</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">RR-008</th>
              <td class="govuk-table__cell"><a>Long Ashton Parish Council</td>
            </tr>
          </tbody>
        </table>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Non-statutory organisations</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-full">Name</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">RR-009</th>
              <td class="govuk-table__cell"><a>Greggs</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">RR-010</th>
              <td class="govuk-table__cell"><a>Ikea</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">RR-011</th>
              <td class="govuk-table__cell"><a>Octopus Energy</td>
            </tr>
          </tbody>
        </table>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Members of the public/businesses</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-full">Name</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">RR-012</th>
              <td class="govuk-table__cell"><a>Alex Hopkins</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">RR-013</th>
              <td class="govuk-table__cell"><a>Harry Hill</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">RR-014</th>
              <td class="govuk-table__cell"><a>Jane Doe</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">RR-015</th>
              <td class="govuk-table__cell"><a>John Doe</td>
            </tr>
          </tbody>
        </table>
        '
      }
    },
    {
      heading: {
        text: "Procedural decisions and notifications from Examining Authority"
      },
      summary: {
        text: "Written questions, event notifications and decisions about how the application will be examined."
      },
      content: {
        html: '<table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Procedural decisions and notifications from Examining Authority</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-full">Document</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">PD-001</th>
              <td class="govuk-table__cell"><a>Draft Development Consent Order</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">PD-002</th>
              <td class="govuk-table__cell"><a>Explanatory memorandum</a></td>
            </tr>
          </tbody>
        </table>'
      }
    },
    {
      heading: {
        text: "Additional submissions"
      },
      summary: {
        text: "Anything accepted by the Examining Authority outside of a formal deadline."
      },
      content: {
        html: '<table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Additional submissions</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Document</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">From</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">AS-001</th>
              <td class="govuk-table__cell"><a>Draft Development Consent Order</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">AS-002</th>
              <td class="govuk-table__cell"><a>Explanatory memorandum</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
          </tbody>
        </table>'
      }
    },
    {
      heading: {
        text: "Events and hearings"
      },
      summary: {
        text: "Agendas, recordings, notes, actions."
      },
      content: {
        html: '<table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Open floor hearing 1</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Document</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">EV1-001</th>
              <td class="govuk-table__cell"><a>Draft Development Consent Order</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">EV1-002</th>
              <td class="govuk-table__cell"><a>Explanatory memorandum</a></td>
            </tr>
          </tbody>
        </table>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Open floor hearing 2</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Document</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">EV2-001</th>
              <td class="govuk-table__cell"><a>Draft Development Consent Order</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">EV2-002</th>
              <td class="govuk-table__cell"><a>Explanatory memorandum</a></td>
            </tr>
          </tbody>
        </table>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Issue specific hearing 1</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Document</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">EV3-001</th>
              <td class="govuk-table__cell"><a>Draft Development Consent Order</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">EV3-002</th>
              <td class="govuk-table__cell"><a>Explanatory memorandum</a></td>
            </tr>
          </tbody>
        </table>'
      }
    },
    {
      heading: {
        text: "Procedural deadlines"
      },
      content: {
        html: '<table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Procedural deadline 1</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Document</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">From</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">PD1-001</th>
              <td class="govuk-table__cell"><a>Draft Development Consent Order</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">PD1-002</th>
              <td class="govuk-table__cell"><a>Explanatory memorandum</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
          </tbody>
        </table>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Procedural deadline 2</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Document</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">From</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">PD2-001</th>
              <td class="govuk-table__cell"><a>Draft Development Consent Order</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">PD2-002</th>
              <td class="govuk-table__cell"><a>Explanatory memorandum</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
          </tbody>
        </table>'
      }
    },
    {
      heading: {
        text: "Deadline 1"
      },
      content: {
        html: '<table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Deadline 1</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Document</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">From</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">REP1-001</th>
              <td class="govuk-table__cell"><a>Draft Development Consent Order</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">REP1-002</th>
              <td class="govuk-table__cell"><a>Explanatory memorandum</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
          </tbody>
        </table>'
      }
    },
    {
      heading: {
        text: "Deadline 2"
      },
      content: {
        html: '<table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Deadline 2</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Document</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">From</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">REP2-001</th>
              <td class="govuk-table__cell"><a>1.1 Cover letter</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">REP2-002</th>
              <td class="govuk-table__cell"><a>1.2 Application form</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">REP2-003</th>
              <td class="govuk-table__cell"><a>1.3 Navigation document</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">REP2-004</th>
              <td class="govuk-table__cell"><a>1.4 Glossary and acronyms</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
          </tbody>
        </table>'
      }
    },
    {
      heading: {
        text: "Other documents"
      },
      summary: {
        text: "Certificates, transboundary documents, further information."
      },
      content: {
        html: '
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Other documents</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Document</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">From</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">OD-001</th>
              <td class="govuk-table__cell"><a>Draft Development Consent Order</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">OD-002</th>
              <td class="govuk-table__cell"><a>Explanatory memorandum</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
          </tbody>
        </table>'
      }
    }
  ]
}) }}
  </div>
</div>



{% endblock %}