{% extends "layouts/main.html" %}

{% block pageTitle %}
Project Search – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<style>
  .layout-slots__divider{
    color: #ffffff
  }
  a {
    color: #1d70b8;
  }
  .grey-box {
    display: none;
  }

  .govuk-main-wrapper {
    padding-top: 0px;
  }

  .govuk-header, .govuk-header__container {
    background-color: rgb(7, 71, 69);
    border-bottom: none;
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .govuk-header {
    border-bottom: 10px solid #13a19b;
  }

  .greybg {
    box-shadow: #f3f2f1 800px 0px, #f3f2f1 -800px 0px;
  }

  .side-nav {
        padding-right: 20px;
      }

      .side-nav ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
      }

      .side-nav li {
        margin-bottom: 5px;
      }

      .side-nav a {
        display: block;
        padding: 10px 8px;
        font-size: 16px;
        text-decoration: none;
        color: #1d70b8;
        border-left: 5px solid transparent;
      }

      .side-nav a:hover {
        background-color: #f3f2f1;
      }

      .side-nav a.selected {
        background-color: #f3f2f1;
        font-weight: bold;
        border-left: 6px solid #00847f;
        color: #0b0c0c;
      }

</style>


<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a beta service - your  <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>


<section aria-label="Service information" class="govuk-service-navigation greybg"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container govuk-width-container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="index" aria-current="true">
              <strong>Home</strong>
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="search">
              <strong class="govuk-service-navigation__active-fallback"><strong>All projects</strong></strong>
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="#">
              <Strong>Detailed information</Strong>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>

<div class="govuk-grid-row" style="padding-top: 48px;">
  <div class="govuk-grid-column-full">

    {% include "../_includes/project-description.html" %}

    <div class="govuk-grid-column-one-third" style="padding-left: 0px;">
    <nav class="side-nav">
      <ul class="govuk-list">
        <li><a href="Project_info">Project information</a></li>
        <li><a href="Project_documents">Documents</a></li>
        <li><a href="Project_relReps">Relevant representations (registration comments)</a></li>
        <li><a href="Project_examTimetable" class="selected">Examination timetable</a></li>
        <li><a href="Project_haveYourSay">Have your say</a></li>
        <li><a href="Project_updates">Get updates</a></li>
        <li><a href="Project_s51">Section 51 advice</a></li>
      </ul>
    </nav>

    <hr class="layout-slots__divider">
    <span>&nbsp;</span>
    <p><strong>Related guides</strong></p>
    <p><a class="govuk-body-s govuk-link" style="color: #1d70b8;">The process for Nationally Significant Infrastructure Projects (NSIPs)</a></p>
    <p><a class="govuk-body-s govuk-link" style="color: #1d70b8;">Have your say about a national infrastructure project</a></p>
    
  </div>

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-xl">
      <span class="govuk-caption-l">Longfield Solar Farm</span>
      Examination timetable</h2>
    
    <p class="govuk-body">The examination timetable shows the dates of events and deadlines for submissions.</p>
    <p class="govuk-body">If you have registered to have your say, you can do this in the examination stage.</p>
    <h3 class="govuk-heading-m">The examination stage</h3>
    <p class="govuk-body">The examination opened on 21 January 2025</p>
    <p class="govuk-body">The examination closed on 22 July 2025</p>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Upcoming deadlines and events
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content">
          <p class="govuk-body">There are no deadlines and events</p>
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              Past deadlines and events
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content">
          <p class="govuk-body-s"><strong>21 January 2025 - Preliminary Meeting</strong> <strong class="govuk-tag govuk-body-m" style="margin-left: 8px;">
            Closed
          </strong></p>
          <p class="govuk-body">Preliminary Meeting</p>
          <hr class="layout-slots__divider">
          <p class="govuk-body-s"><strong>28 January 2025 - Issue by the ExA of Examination Timetable</strong> <strong class="govuk-tag govuk-body-m" style="margin-left: 8px;">
            Closed
          </strong></p>
          <p class="govuk-body">Issue by the EXA of:</p>
          <ul>
            <li class="govuk-list govuk-list--bullet">Examination Timetable</li>
          </ul>
          <p class="govuk-body">Publication of:</p>
          <ul>
            <li class="govuk-list govuk-list--bullet">Examination Timetable</li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}