{% extends "layouts/main.html" %}

{% block pageTitle %}
Project Search – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
{% include "../FrontOffice/_includes/FO-components.html" %}

<section aria-label="Service information" class="govuk-service-navigation grey-background"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container govuk-width-container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="index" aria-current="true">
              <strong>Home</strong>
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="search">
              <strong class="govuk-service-navigation__active-fallback"><strong>All projects</strong></strong>
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="#">
              <Strong>Detailed information</Strong>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>

<div class="govuk-grid-row" style="padding-top: 48px;">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-xl">
      <span class="govuk-caption-l">Longfield Solar Farm</span>
      Examination library
    </h2>
    <p class="govuk-body">An examination library lists all the documents (including comments, plans, evidence and statements) submitted about a nationally significant infrastructure project application. It covers the period from the point of application to the close of the examination phase.
    </p>
    <p class="govuk-body">
      Each document has an individual reference number. It's important to quote these reference numbers if you refer to any documents when making comments about a project.
    </p>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Application documents
          </span>
          </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
            Documents and plans submitted by the applicant for a development consent order.
            </div>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Application form</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-three-quarter">Document</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for i in range(1,35) %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__cell">APP-0{%if (10 > i)%}0{%endif%}{{i}}</th>
                <td class="govuk-table__cell"><a href="#">1.{{i}} Example document</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Plans / drawings / sections</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-three-quarter">Document</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for i in range(35,55) %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__cell">APP-0{%if (10 > i)%}0{%endif%}{{i}}</th>
                <td class="govuk-table__cell"><a href="#">1.{{i}} Example document</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Draft development consent order</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-three-quarter">Document</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for i in range(55,95) %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__cell">APP-0{%if (10 > i)%}0{%endif%}{{i}}</th>
                <td class="govuk-table__cell"><a href="#">1.{{i}} Example document</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Compulsory acquisition information</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-three-quarter">Document</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for i in range(95,115) %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__cell">APP-{%if (100 > i)%}0{%endif%}{%if (10 > i)%}0{%endif%}{{i}}</th>
                <td class="govuk-table__cell"><a href="#">1.{{i}} Example document</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Consultation report</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-three-quarter">Document</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for i in range(115,125) %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__cell">APP-{%if (100 > i)%}0{%endif%}{%if (10 > i)%}0{%endif%}{{i}}</th>
                <td class="govuk-table__cell"><a href="#">1.{{i}} Example document</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Reports and statements</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-three-quarter">Document</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for i in range(125,145) %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__cell">APP-{%if (100 > i)%}0{%endif%}{%if (10 > i)%}0{%endif%}{{i}}</th>
                <td class="govuk-table__cell"><a href="#">1.{{i}} Example document</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Environmental statement</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-three-quarter">Document</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for i in range(145,150) %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__cell">APP-{%if (100 > i)%}0{%endif%}{%if (10 > i)%}0{%endif%}{{i}}</th>
                <td class="govuk-table__cell"><a href="#">1.{{i}} Example document</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Other documents</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-three-quarter">Document</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for i in range(150,190) %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__cell">APP-{%if (100 > i)%}0{%endif%}{%if (10 > i)%}0{%endif%}{{i}}</th>
                <td class="govuk-table__cell"><a href="#">1.{{i}} Example document</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Adequecy of consultation responses
          </span>
          </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
              Comments from local authorities, statutory consultees, the Planning Inspectorate.
            </div>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Adequecy of consultation responses
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Document</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">From</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for i in range(1,100) %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">AoC-0{%if (10 > i)%}0{%endif%}{{i}}</th>
              <td class="govuk-table__cell"><a href="#">1.{{i}} Example document</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
            {% endfor %}
          </tbody>
          </table>
        </div>
      </div>
      <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
      <h2 class="govuk-heading-m govuk-!-margin-top-2">Relevant representations (registration comments)</h2>
      <p class="govuk-body">Comments from individuals and organisations.</p>
      <p class="govuk-body govuk-!-margin-top-2"><a class="govuk-link" href="Project_relReps">View relevant representations (registration comments)</a></p>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Procedural decisions and notifications from Examining Authority
          </span>
          </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
              Written questions, event notifications and decisions about how the application will be examined.
            </div>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Procedural decisions and notifications from Examining Authority
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
            <th scope="col" class="govuk-table__header govuk-!-width-three-quarters">Document</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for i in range(1,100) %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">PD-0{%if (10 > i)%}0{%endif%}{{i}}</th>
              <td class="govuk-table__cell"><a href="#">1.{{i}} Example document</a></td>
            </tr>
            {% endfor %}
          </tbody>
          </table>
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Change requests
          </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Change request 1
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Document</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">From</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for i in range(1,50) %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">CR1-0{%if (10 > i)%}0{%endif%}{{i}}</th>
              <td class="govuk-table__cell"><a href="#">1.{{i}} Example document</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
            {% endfor %}
          </tbody>
          </table>
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Change request 2
            </caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-half">Document</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">From</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for i in range(1,50) %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__cell">CR2-0{%if (10 > i)%}0{%endif%}{{i}}</th>
                <td class="govuk-table__cell"><a href="#">1.{{i}} Example document</a></td>
                <td class="govuk-table__cell">Highways England</td>
              </tr>
              {% endfor %}
            </tbody>
            </table>
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Additional submissions
          </span>
          </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
              Anything accepted by the Examining Authority outside of a formal deadline.
            </div>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Additional submissions
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Document</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">From</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">AS-001</th>
              <td class="govuk-table__cell">Example document (currently unavailable)</td> <!--if doc unpublished-->
              <td class="govuk-table__cell">Highways England</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">AS-002</th>
              <td class="govuk-table__cell">Reference not in use</td> <!--if doc deleted-->
              <td class="govuk-table__cell"></td>
            </tr>
            {% for i in range(3,50) %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">AS-0{%if (10 > i)%}0{%endif%}{{i}}</th>
              <td class="govuk-table__cell"><a href="#">1.{{i}} Example document</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
            {% endfor %}
          </tbody>
          </table>
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Events and hearings
          </span>
          </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
              Agendas, recordings, notes, actions.
            </div>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Open floor hearing 2
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
            <th scope="col" class="govuk-table__header govuk-!-width-three-quarters">Document</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for i in range(1,5) %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">EV2-0{%if (10 > i)%}0{%endif%}{{i}}</th>
              <td class="govuk-table__cell"><a href="#">1.{{i}} Example document</a></td>
            </tr>
            {% endfor %}
          </tbody>
          </table>
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Issue specific hearing 1
            </caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-three-quarters">Document</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for i in range(1,6) %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__cell">EV3-0{%if (10 > i)%}0{%endif%}{{i}}</th>
                <td class="govuk-table__cell"><a href="#">1.{{i}} Example document</a></td>
              </tr>
              {% endfor %}
            </tbody>
            </table>
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Procedural deadlines
          </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Procedural deadline 1
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Document</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">From</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for i in range(1,100) %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">PD1-0{%if (10 > i)%}0{%endif%}{{i}}</th>
              <td class="govuk-table__cell"><a href="#">1.{{i}} Example document</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
            {% endfor %}
          </tbody>
          </table>
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Deadline 1
          </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Deadline 1
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Document</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">From</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for i in range(1,100) %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">REP1-0{%if (10 > i)%}0{%endif%}{{i}}</th>
              <td class="govuk-table__cell"><a href="#">1.{{i}} Example document</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
            {% endfor %}
          </tbody>
          </table>
        </div>
      </div>
      {% if data['library-published'] == 'published' %} <!--If published show deadline 2-->
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Deadline 2
          </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Deadline 2
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Document</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">From</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for i in range(1,100) %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">REP2-0{%if (10 > i)%}0{%endif%}{{i}}</th>
              <td class="govuk-table__cell"><a href="#">1.{{i}} Example document</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
            {% endfor %}
          </tbody>
          </table>
        </div>
      </div>
      {% endif %}
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Other documents
          </span>
          </h2>
          <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
            Certificates, transboundary documents, further information.
          </div>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Other documents
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Document</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">From</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for i in range(1,100) %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">OD-0{%if (10 > i)%}0{%endif%}{{i}}</th>
              <td class="govuk-table__cell"><a href="#">1.{{i}} Example document</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
            {% endfor %}
          </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}