{% extends "layouts/main.html" %}

{% block pageTitle %}
Project Search – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
{% include "../FrontOffice/_includes/FO-components.html" %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a beta service - your  <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>


<section aria-label="Service information" class="govuk-service-navigation grey-background"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container govuk-width-container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="index" aria-current="true">
              <strong>Home</strong>
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="search">
              <strong class="govuk-service-navigation__active-fallback"><strong>All projects</strong></strong>
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="#">
              <Strong>Detailed information</Strong>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>

<div class="govuk-grid-row" style="padding-top: 48px;">
  <div class="govuk-grid-column-full">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-xl">
      <span class="govuk-caption-l">Longfield Solar Farm</span>
      Examination library
    </h2>
    <p class="govuk-body">An examination library lists all the documents (including comments, plans, evidence and statements) submitted about a nationally significant infrastructure project application. It covers the period from the point of application to the close of the examination phase.
    </p>
    <p class="govuk-body">
      Each document has an individual reference number. It's important to quote these reference numbers if you refer to any documents when making comments about a project.
    </p>

    {% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{{ govukAccordion({
  id: "accordion-default",
  items: [
    {
      heading: {
        text: "Application documents"
      },
      summary: {
        text: "Documents and plans submitted by the applicant for a development consent order."
      },
      content: {
        html: '
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Application form</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-three-quarter">Document</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-001</th>
              <td class="govuk-table__cell"><a>1.1 Covering Letter</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-002</th>
              <td class="govuk-table__cell"><a>1.2 Guide to the Application</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-003</th>
              <td class="govuk-table__cell"><a>1.3 Application Form</a></td>
            </tr>
          </tbody>
        </table>
        
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Plans / drawings / sections</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-three-quarter">Document</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-004</th>
              <td class="govuk-table__cell"><a>2.1 Location plans</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-005</th>
              <td class="govuk-table__cell"><a>2.2 Land plans</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-006</th>
              <td class="govuk-table__cell"><a>2.3 Floor plans</a></td>
            </tr>
          </tbody>
        </table>
    
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Draft development consent order</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-three-quarter">Document</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-007</th>
              <td class="govuk-table__cell"><a>3.1 Draft Development Consent Order</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-008</th>
              <td class="govuk-table__cell"><a>3.2 Explanatory memorandum</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-009</th>
              <td class="govuk-table__cell"><a>3.3 Validation report</a></td>
            </tr>
          </tbody>
        </table>
    
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Compulsory acquisition information</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-three-quarter">Document</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-010</th>
              <td class="govuk-table__cell"><a>3.4 Draft Development Consent Order</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-011</th>
              <td class="govuk-table__cell"><a>3.5 Explanatory memorandum</a></td>
            </tr>
          </tbody>
        </table>
    
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Consultation Report</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-three-quarter">Document</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-013</th>
              <td class="govuk-table__cell"><a>4.1 Draft Development Consent Order</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-014</th>
              <td class="govuk-table__cell"><a>4.2 Explanatory memorandum</a></td>
            </tr>
          </tbody>
        </table>
    
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Reports and statements</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-three-quarter">Document</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-015</th>
              <td class="govuk-table__cell"><a>5.1 Draft Development Consent Order</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-016</th>
              <td class="govuk-table__cell"><a>5.2 Explanatory memorandum</a></td>
            </tr>
          </tbody>
        </table>
    
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Environmental statement</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-three-quarter">Document</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-017</th>
              <td class="govuk-table__cell"><a>6.1 Draft Development Consent Order</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-018</th>
              <td class="govuk-table__cell"><a>6.2 Explanatory memorandum</a></td>
            </tr>
          </tbody>
        </table>
    
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Other documents</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-three-quarter">Document</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-020</th>
              <td class="govuk-table__cell"><a>Draft Development Consent Order</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">APP-021</th>
              <td class="govuk-table__cell"><a>Explanatory memorandum</a></td>
            </tr>
          </tbody>
        </table>
        '
      }
    },
    {
      heading: {
        text: "Adequecy of consultation responses"
      },
      summary: {
        text: "Comments from local authorities, statutory consultees, the Planning Inspectorate."
      },
      content: {
        html: '
        <p class="govuk-body">Comments from local authorities, statutory consultees and the Planning Inspectorate about the initial application, including whether they&apos;ve been sufficiently consulted by the applicant.</p>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Adequecy of consultation representations</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Document</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">From</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">AoC-001</th>
              <td class="govuk-table__cell"><a>Adequacy of Consultation Representation</a></td>
              <td class="govuk-table__cell">City of Doncaster Council</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">AoC-002</th>
              <td class="govuk-table__cell"><a>Adequacy of Consultation Representation</a></td>
              <td class="govuk-table__cell">North Lincolnshire Council</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">AoC-003</th>
              <td class="govuk-table__cell"><a>Adequacy of Consultation Representation</a></td>
              <td class="govuk-table__cell">Nottinghamshire County Council</td>
            </tr>
          </tbody>
        </table>'
      }
    },
    {
      heading: {
        text: "Relevant representations (registration comments)"
      },
      summary: {
        text: "Comments from individuals and organisations."
      },
      content: {
        html: '
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Local authorities</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-full">Name</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">RR-001</th>
              <td class="govuk-table__cell"><a>Bristol City Council</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">RR-002</th>
              <td class="govuk-table__cell"><a>Bath City Council</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">RR-003</th>
              <td class="govuk-table__cell"><a>Manchester City Council</td>
            </tr>
          </tbody>
        </table>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Statutory consultees</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-full">Name</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">RR-004</th>
              <td class="govuk-table__cell"><a>Highways England</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">RR-005</th>
              <td class="govuk-table__cell"><a>Animal and Plant Health Agency</td>
            </tr>
          </tbody>
        </table>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Parish councils</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-full">Name</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">RR-006</th>
              <td class="govuk-table__cell"><a>Dundry Parish Council</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">RR-007</th>
              <td class="govuk-table__cell"><a>Stoke Gifford Parish Council</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">RR-008</th>
              <td class="govuk-table__cell"><a>Long Ashton Parish Council</td>
            </tr>
          </tbody>
        </table>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Non-statutory organisations</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-full">Name</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">RR-009</th>
              <td class="govuk-table__cell"><a>Greggs</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">RR-010</th>
              <td class="govuk-table__cell"><a>Ikea</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">RR-011</th>
              <td class="govuk-table__cell"><a>Octopus Energy</td>
            </tr>
          </tbody>
        </table>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Members of the public/businesses</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-full">Name</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">RR-012</th>
              <td class="govuk-table__cell"><a>Alex Hopkins</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">RR-013</th>
              <td class="govuk-table__cell"><a>Harry Hill</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">RR-014</th>
              <td class="govuk-table__cell"><a>Jane Doe</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">RR-015</th>
              <td class="govuk-table__cell"><a>John Doe</td>
            </tr>
          </tbody>
        </table>
        '
      }
    },
    {
      heading: {
        text: "Procedural decisions and notifications from Examining Authority"
      },
      summary: {
        text: "Written questions, event notifications and decisions about how the application will be examined."
      },
      content: {
        html: '<table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Procedural decisions and notifications from Examining Authority</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-full">Document</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">PD-001</th>
              <td class="govuk-table__cell"><a>Draft Development Consent Order</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">PD-002</th>
              <td class="govuk-table__cell"><a>Explanatory memorandum</a></td>
            </tr>
          </tbody>
        </table>'
      }
    },
    {
      heading: {
        text: "Additional submissions"
      },
      summary: {
        text: "Anything accepted by the Examining Authority outside of a formal deadline."
      },
      content: {
        html: '<table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Additional submissions</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Document</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">From</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">AS-001</th>
              <td class="govuk-table__cell">Example document (currently unavailable)</td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">AS-002</th>
              <td class="govuk-table__cell">Reference not in use</td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">AS-003</th>
              <td class="govuk-table__cell"><a>Example document</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">AS-004</th>
              <td class="govuk-table__cell"><a>Example document</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">AS-005</th>
              <td class="govuk-table__cell"><a>Example document</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">AS-006</th>
              <td class="govuk-table__cell"><a>Example document</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
          </tbody>
        </table>'
      }
    },
    {
      heading: {
        text: "Events and hearings"
      },
      summary: {
        text: "Agendas, recordings, notes, actions."
      },
      content: {
        html: '
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Open floor hearing 2</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Document</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">EV2-001</th>
              <td class="govuk-table__cell"><a>Draft Development Consent Order</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">EV2-002</th>
              <td class="govuk-table__cell"><a>Explanatory memorandum</a></td>
            </tr>
          </tbody>
        </table>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Issue specific hearing 1</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Document</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">EV3-001</th>
              <td class="govuk-table__cell"><a>Draft Development Consent Order</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">EV3-002</th>
              <td class="govuk-table__cell"><a>Explanatory memorandum</a></td>
            </tr>
          </tbody>
        </table>'
      }
    },
    {
      heading: {
        text: "Procedural deadlines"
      },
      content: {
        html: '<table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Procedural deadline 1</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Document</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">From</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">PD1-001</th>
              <td class="govuk-table__cell"><a>Draft Development Consent Order</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">PD1-002</th>
              <td class="govuk-table__cell"><a>Explanatory memorandum</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
          </tbody>
        </table>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Procedural deadline 2</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Document</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">From</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">PD2-001</th>
              <td class="govuk-table__cell"><a>Draft Development Consent Order</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">PD2-002</th>
              <td class="govuk-table__cell"><a>Explanatory memorandum</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
          </tbody>
        </table>'
      }
    },
    {
      heading: {
        text: "Deadline 1"
      },
      content: {
        html: '<table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Deadline 1</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Document</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">From</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">REP1-001</th>
              <td class="govuk-table__cell"><a>Draft Development Consent Order</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">REP1-002</th>
              <td class="govuk-table__cell"><a>Explanatory memorandum</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">REP1-003</th>
              <td class="govuk-table__cell"><a>Draft Development Consent Order</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">REP1-004</th>
              <td class="govuk-table__cell"><a>Explanatory memorandum</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">REP1-005</th>
              <td class="govuk-table__cell"><a>Draft Development Consent Order</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">REP1-006</th>
              <td class="govuk-table__cell"><a>Explanatory memorandum</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
          </tbody>
        </table>'
      }
    },
    {
      heading: {
        text: "Deadline 2"
      },
      content: {
        html: '<table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Deadline 2</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Document</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">From</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">REP2-001</th>
              <td class="govuk-table__cell"><a>1.1 Cover letter</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">REP2-002</th>
              <td class="govuk-table__cell"><a>1.2 Application form</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">REP2-003</th>
              <td class="govuk-table__cell"><a>1.3 Navigation document</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">REP2-004</th>
              <td class="govuk-table__cell"><a>1.4 Glossary and acronyms</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
          </tbody>
        </table>'
      }
    },
    {
      heading: {
        text: "Other documents"
      },
      summary: {
        text: "Certificates, transboundary documents, further information."
      },
      content: {
        html: '
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Other documents</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Document</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">From</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">OD-001</th>
              <td class="govuk-table__cell"><a>Draft Development Consent Order</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">OD-002</th>
              <td class="govuk-table__cell"><a>Explanatory memorandum</a></td>
              <td class="govuk-table__cell">Highways England</td>
            </tr>
          </tbody>
        </table>'
      }
    }
  ]
}) }}
  </div>
</div>



{% endblock %}