{% extends "layouts/main.html" %}

{% block pageTitle %}
Project Search – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
{% include "../FrontOffice/_includes/FO-components.html" %}

<section aria-label="Service information" class="govuk-service-navigation grey-background"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container govuk-width-container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="index" aria-current="true">
              <strong>Home</strong>
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="search">
              <strong class="govuk-service-navigation__active-fallback"><strong>All projects</strong></strong>
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="#">
              <Strong>Detailed information</Strong>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>

<div class="govuk-grid-row" style="padding-top: 48px;">
  <div class="govuk-grid-column-full">
  <div class="govuk-grid-column-one-third" style="padding-left: 0px;">

    <nav class="side-nav">
      <ul class="govuk-list">
        <li><a href="Project_info">Project information</a></li>
        <li><a href="Project_documents" class="selected">Documents</a></li>
        <li><a href="Project_relReps">Relevant representations (registration comments)</a></li>
        <li><a href="Project_examTimetable">Examination timetable</a></li>
        <li><a href="Project_haveYourSay">Have your say</a></li>
        <li><a href="Project_updates">Get updates</a></li>
        <li><a href="Project_updates_all">All project updates</a></li>
        <li><a href="Project_s51">Section 51 advice</a></li>
      </ul>
    </nav>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <p><strong>Related guides</strong></p>
    <p><a class="govuk-body-s govuk-link" style="color: #1d70b8;">The process for Nationally Significant Infrastructure Projects (NSIPs)</a></p>
    <p><a class="govuk-body-s govuk-link" style="color: #1d70b8;">Have your say about a national infrastructure project</a></p>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <a href="Project_documents" class="govuk-back-link">Back to list</a>
    <h2 class="govuk-heading-xl">
      <span class="govuk-caption-l">Longfield Solar Farm</span>
      Example superseded document
    </h2>
    <p class="govuk-body">Throughout the application process, a document may be resubmitted with updates or changes, resulting in different versions. </p>
    <h2 class="govuk-heading govuk-heading-m">Latest submission</h2>
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    <div class="document-item">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <p class="govuk-body"><strong>4. <a class="govuk-link">Example superseded document &#10240; (PDF, 149KB)</a></strong>
            <br><span class="govuk-body-s">From Highways England</span></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-body-s" style="color: #505a5f;">24 September 2025</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-body-s" style="color: #505a5f;">Examination</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-body-s" style="color: #505a5f;">Deadline 5</p>
        </div>
      </div>
    </div>
    <h2 class="govuk-heading govuk-heading-m">Previous submissions</h2>
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    <div class="document-item">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <p class="govuk-body"><strong>3. <a class="govuk-link">Example superseded document &#10240; (PDF, 149KB)</a></strong>
            <br><span class="govuk-body-s">From Highways England</span></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-body-s" style="color: #505a5f;">20 May 2025</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-body-s" style="color: #505a5f;">Examination</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-body-s" style="color: #505a5f;">Deadline 4</p>
        </div>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    <div class="document-item">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <p class="govuk-body"><strong><a class="govuk-link">2. Example superseded document &#10240; (PDF, 149KB)</a></strong>
            <br><span class="govuk-body-s">From Highways England</span></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-body-s" style="color: #505a5f;">12 April 2025</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-body-s" style="color: #505a5f;">Pre-examination</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-body-s" style="color: #505a5f;">Deadline 3</p>
        </div>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    <div class="document-item">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">     
          <p class="govuk-body"><strong><a class="govuk-link">1. Example superseded document &#10240; (PDF, 149KB)</a></strong>
            <br><span class="govuk-body-s">From Highways England</span></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-body-s" style="color: #505a5f;">10 February 2025</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-body-s" style="color: #505a5f;">Pre-examination</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-body-s" style="color: #505a5f;">Procedural Deadline A</p>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}