{% extends "layouts/main.html" %}

{% block pageTitle %}
Project Search – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<style>
  .layout-slots__divider{
    color: #ffffff
  }
  a {
    color: #1d70b8;
  }
  .grey-box {
    display: none;
  }

  .govuk-main-wrapper {
    padding-top: 0px;
  }

  .govuk-header, .govuk-header__container {
    background-color: rgb(7, 71, 69);
    border-bottom: none;
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .govuk-header {
    border-bottom: 10px solid #13a19b;
  }

  .greybg {
    box-shadow: #f3f2f1 800px 0px, #f3f2f1 -800px 0px;
  }

  .side-nav {
        padding-right: 20px;
      }

      .side-nav ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
      }

      .side-nav li {
        margin-bottom: 5px;
      }

      .side-nav a {
        display: block;
        padding: 10px 8px;
        font-size: 16px;
        text-decoration: none;
        color: #1d70b8;
        border-left: 5px solid transparent;
      }

      .side-nav a:hover {
        background-color: #f3f2f1;
      }

      .side-nav a.selected {
        background-color: #f3f2f1;
        font-weight: bold;
        border-left: 6px solid #00847f;
        color: #0b0c0c;
      }

</style>


<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a beta service - your  <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>


<section aria-label="Service information" class="govuk-service-navigation greybg"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container govuk-width-container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="index" aria-current="true">
              <strong>Home</strong>
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="search">
              <strong class="govuk-service-navigation__active-fallback"><strong>All projects</strong></strong>
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="#">
              <Strong>Detailed information</Strong>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>

<div class="govuk-grid-row" style="padding-top: 48px;">
  <div class="govuk-grid-column-full">

    {% include "../_includes/project-description.html" %}

  <div class="govuk-grid-column-one-third" style="padding-left: 0px;">

    <nav class="side-nav">
      <ul class="govuk-list">
        <li><a href="Project_info">Project information</a></li>
        <li><a href="Project_documents">Documents</a></li>
        <li><a href="Project_relReps">Relevant representations (registration comments)</a></li>
        <li><a href="Project_examTimetable">Examination timetable</a></li>
        <li><a href="Project_haveYourSay">Have your say</a></li>
        <li><a href="Project_updates">Get updates</a></li>
        <li><a href="Project_s51" class="selected">Section 51 advice</a></li>
      </ul>
    </nav>

    <hr class="layout-slots__divider">
    <span>&nbsp;</span>
    <p><strong>Related guides</strong></p>
    <p><a class="govuk-body-s govuk-link" style="color: #1d70b8;">The process for Nationally Significant Infrastructure Projects (NSIPs)</a></p>
    <p><a class="govuk-body-s govuk-link" style="color: #1d70b8;">Have your say about a national infrastructure project</a></p>
    
  </div>

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-xl">
      <span class="govuk-caption-l">Longfield Solar Farm</span>
      Section 51 advice</h2>
    
    <h3 class="govuk-heading-m">There is no advice to show for this project</h3>
    <p class="govuk-body">There is a statutory duty, under <a href="https://www.legislation.gov.uk/ukpga/2008/29/section/51">section 51 of the Planning Act 2008</a>, around an application or potential application. This includes recording the name of the person who requested advice and the advice given. This information has to be made publicly available.</p>
  </div>
</div>



{% endblock %}