{% extends "layouts/main.html" %}

{% block pageTitle %}
Project Search – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<style>

  /* Tooltip text */
  #tooltiptext {
    visibility: hidden;
    background-color: white;
    color: #000;
    text-align: left;
    margin: 10px;
    padding: 16px;
    border-radius: 4px;
    left: 48%;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }

  #tooltiptext:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: #ffffff transparent;
    border-width: 10px 10px 0;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
  }

  #tooltip {
    background-image: url("https://www.ordnancesurvey.co.uk/img-assets/products/overview-england-wales.x4fa67183.xe4e2d2f0.jpg");
    background-size: cover;
    height: 700px;
    width: 100%;
    background-color: rgb(188, 214, 188);
    text-align: center;
    padding-top: 400px;
  }
  
  .layout-slots__divider{
    color: #ffffff
  }
  a {
    color: #1d70b8;
  }
  .grey-box {
    display: none;
  }

  .govuk-main-wrapper {
    padding-top: 0px;
  }

  .filter {
    background-color: #f3f2f1;
    padding: 8px;
    border-radius: 5px;
    margin-left: 10px;
    border: 1px solid #505a5f;
    text-decoration: none;
    color: black;
  }

  .filter:visited {
    color: black;
  }

  .govuk-header, .govuk-header__container {
    background-color: rgb(7, 71, 69);
    border-bottom: none;
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .govuk-header {
    border-bottom: 10px solid #13a19b;
  }

  .greybg {
    box-shadow: #f3f2f1 800px 0px, #f3f2f1 -800px 0px;
  }

  .listbox {
    border: 1px solid rgb(147, 147, 147);
    padding: 16px;
    margin: 12px;
    transform: translateY(600px);
    position: absolute;
    background-color: white;
    width: 554px;
  }

</style>



<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a beta service - your  <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>




<section aria-label="Service information" class="govuk-service-navigation greybg"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container govuk-width-container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="index">
              <strong>Home</strong>
            </a>
          </li>
          <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
            <a class="govuk-service-navigation__link" href="search" aria-current="true">
              <strong class="govuk-service-navigation__active-fallback"><strong>All projects</strong></strong>
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="#">
              <Strong>Detailed information</Strong>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>

<div class="govuk-grid-row" style="padding-top: 24px;">
  <div class="govuk-grid-column-full">

    {% include "../_includes/project-description.html" %}

    <h2 class="govuk-heading-xl" style="margin-bottom: 24px;">Projects map</h2>
    <p class="govuk-body-m">This is a map of all project boundaries. To find a specific project select a project boundary.</p>
    <p class="govuk-link" style="color: #1d70b8;">Download a geospatial file containing a complete map of all 241 projects (JSON)</p>
    <div class="govuk-form-group" style="margin-bottom: 0px;">
      <input class="govuk-input" style="width: 522px;" id="one-half" name="oneHalf" type="text">
        <button type="submit" class="govuk-button govuk-button" data-module="govuk-button">
          Search
        </button>
    </div>

    <div class="govuk-button-group">
      <a type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" href="searchMapView">
        Show filters
      </a>
      <a class="govuk-link" href="search">Switch to list view</a>
    </div>
    
    <div id="tooltip">
      <div id="tooltiptext">
        <h3 class="govuk-heading-m">2 projects selected</h3>
        <table class="govuk-table" style="margin-bottom: 0px;">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="Project_info">Longfield Solar Farm</a></th>
              <td class="govuk-table__cell">Decided</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="Project_info">Shortfield Solar Farm</a></th>
              <td class="govuk-table__cell">Withdrawn</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="govuk-warning-text" style="padding-top: 32px;">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        Project boundaries shown are for illustrative purposes only. To view the exact boundaries refer to latest relevant plans and drawings.
      </strong>
    </div>
  </div>
</div>

<script>
  document.getElementById("tooltip").onclick = function() {myFunction()};

  function myFunction() {
    document.getElementById("tooltiptext").style.visibility = "visible";
  }
</script>

{% endblock %}