{% extends "layouts/main.html" %}

{% block pageTitle %}
Project Search – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<style>
  .layout-slots__divider{
    color: #ffffff
  }
  a {
    color: #1d70b8;
  }
  .grey-box {
    display: none;
  }

  .govuk-main-wrapper {
    padding-top: 0px;
  }

  .filter {
    background-color: #f3f2f1;
    padding: 8px;
    border-radius: 5px;
    margin-left: 10px;
    border: 1px solid #505a5f;
    text-decoration: none;
    color: black;
  }

  .filter:visited {
    color: black;
  }

  .govuk-header, .govuk-header__container {
    background-color: rgb(7, 71, 69);

    border-bottom: 10px solid #00847f;
  }

</style>


<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a beta service - your  <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>




<section aria-label="Service information" class="govuk-service-navigation"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container govuk-width-container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="index">
              <strong>Home</strong>
            </a>
          </li>
          <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
            <a class="govuk-service-navigation__link" href="search" aria-current="true">
              <strong class="govuk-service-navigation__active-fallback"><strong>All projects</strong></strong>
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="#">
              <Strong>Detailed information</Strong>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>

<div class="govuk-grid-row" style="padding-top: 48px;">
  <div class="govuk-grid-column-full">

    {% include "../_includes/project-description.html" %}

  <div class="govuk-grid-column-one-third" style="padding: 0px;">
    <h2 class="govuk-heading-m">Filter</h2>
    <p class="govuk-link govuk-body-s">Show all sections</p>


    <p>> Location</p>
    <hr class="layout-slots__divider">
    <p>> Sector</p>
    <hr class="layout-slots__divider">
    <p>> Stage</p>

    {{ govukButton({
      text: "Apply filters",
      href: "searchFiltered"
    }) }}
    <hr class="layout-slots__divider">
    <span>&nbsp;</span>
    <p><strong>Related content</strong></p>
    <a class="govuk-body-s govuk-link" style="color: #1d70b8;">Register of applications</a>

    
  </div>

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-xl" style="margin-bottom: 24px;">Projects</h2>
    <p class="govuk-body-m">This is a list of all projects. To find a specific project, use the filters or search by project name or applicant.</p>
    <p class="govuk-link" style="color: #1d70b8;">Download a table containing a complete list of all 241 projects (CSV)</p>
    
    <div class="govuk-form-group" style="margin-bottom: 0px;">
      <input class="govuk-input" style="width: 522px;" id="one-half" name="oneHalf" type="text">
        <button type="submit" class="govuk-button govuk-button" data-module="govuk-button">
          Search
        </button>
    </div>

    <dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-body-l">
          Filtered results
        </dt>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="searchFiltered">List view<span class="govuk-visually-hidden"> for projects</span></a>
        </dd>
      </div>
    </dl>

    <p class="govuk-body-s"><strong>Sector: </strong><a class="filter" href="search">&#10005; Energy</a></p>

    <iframe height="600px" width="100%" title="ONS Census Maps" frameborder="1" src="https://www.ons.gov.uk/census/maps/choropleth/work/industry-current/industry-current-88a/01-crop-and-animal-production-hunting-and-related-service-activities?embed=true&embedInteractive=true&embedAreaSearch=false&embedCategorySelection=false&embedView=geography">
    
  </div>
</div>



{% endblock %}