{% extends "layouts/main.html" %}

{% block pageTitle %}
Project Search – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
{% include "../FrontOffice/_includes/FO-components.html" %}

<section aria-label="Service information" class="govuk-service-navigation grey-background"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container govuk-width-container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="index">
              <strong>Home</strong>
            </a>
          </li>
          <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
            <a class="govuk-service-navigation__link" href="search" aria-current="true">
              <strong class="govuk-service-navigation__active-fallback"><strong>All projects</strong></strong>
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="#">
              <Strong>Detailed information</Strong>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>

<div class="govuk-grid-row" style="padding-top: 24px;">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-xl" style="margin-bottom: 24px;">Projects map</h2>
    <p class="govuk-body">Explore our map to find a national infrastructure project in England and Wales. You can filter by application stage, location or sector.</p>
    <p class="govuk-body"><a class="govuk-list" href="#">Download a geospatial file containing a map of all available project boundaries (JSON)</a></p>
    <div class="govuk-form-group" style="margin-bottom: 0px;">
      <input class="govuk-input" style="width: 522px;" id="one-half" name="oneHalf" type="text">
        <button type="submit" class="govuk-button govuk-button" data-module="govuk-button">
          Search
        </button>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div class="govuk-button-group">
      <a type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" href="searchMapView">
        Show filters
      </a>
      <a type="submit" class="govuk-link" href="search">
        Switch to list view
      </a>
    </div>
  </div>
  <!--<div class="govuk-grid-column-one-half">
    <p class="govuk-body govuk-body-s govuk-!-text-align-right govuk-!-margin-top-2">
      <span class="govuk-!-margin-right-2"><strong>Project view</strong></span>
      <span class="govuk-!-margin-left-1"><span class="govuk-visually-hidden">Projects shown as </span>Markers</span>
      <span class="govuk-!-margin-left-1">|</span>
      <span class="govuk-!-margin-left-1"><a class="govuk-link" href="#"><span class="govuk-visually-hidden">View as </span>Boundaries</a></span>
    </p>
  </div>-->
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body govuk-!-margin-top-2">
      <span class="govuk-!-margin-right-2"><strong>Project view</strong></span>
      <span class="govuk-!-margin-left-1"><span class="govuk-visually-hidden">Projects shown as </span>Markers</span>
      <span class="govuk-!-margin-left-1">|</span>
      <span class="govuk-!-margin-left-1"><a class="govuk-link" href="searchMapViewBoundaries"><span class="govuk-visually-hidden">View as </span>Boundaries</a></span>
    </p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div id="tooltip" class="tooltipMarkers">
      <div id="tooltiptext">
        <h3 class="govuk-heading-m">2 projects selected</h3>
        <table class="govuk-table" style="margin-bottom: 0px;">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="Project_info">Longfield Solar Farm</a></th>
              <td class="govuk-table__cell">Decided</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="Project_info">Shortfield Solar Farm</a></th>
              <td class="govuk-table__cell">Withdrawn</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="govuk-inset-text">
      The project boundaries or markers displayed on this map are for illustrative purposes only. Refer to the latest plans and drawings to view exact locations and boundaries.
    </div>
  </div>
</div>

<script>
  document.getElementById("tooltip").onclick = function() {myFunction()};

  function myFunction() {
    document.getElementById("tooltiptext").style.visibility = "visible";
  }
</script>

{% endblock %}