{% extends "layouts/main.html" %}

{% block pageTitle %}
Project team – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back to project overview",
href: "/../Overview"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% include "../_includes/project-description.html" %}


  <style>
    .side-nav {
      padding-right: 20px;
    }

    .side-nav ul {
      list-style: none;
      padding-left: 0;
      margin: 0;
    }

    .side-nav li {
      margin-bottom: 5px;
    }

    .side-nav a {
      display: block;
      padding: 10px 15px;
      text-decoration: none;
      padding: 12px 8px;
      font-size: 16px;
      color: #1d70b8;
      border-left: 5px solid transparent;
    }

    .side-nav a:hover {
      background-color: #f3f2f1;
    }

    .side-nav a.selected {
      background-color: #f3f2f1;
      font-weight: bold;
      border-left: 5px solid #1d70b8;
      color: #0b0c0c;
    }
  </style>
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">Project updates</h2>
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Create project update",
        href: "edit_updateText"
      }) }}
    </div>

    <div class="govuk-grid-column-one-half">
      <p style="font-size: 16px;">Showing<b> 1</b> to <b>4 </b>of <b>4</b> results</p>
    </div>
    <div class="govuk-grid-column-one-half text-align--right">
      <p style="font-size: 16px;">
      <span class="govuk-!-margin-right-2"><strong>Results per page</strong></span>
      <span class="govuk-!-margin-left-1"><a class="govuk-link"><span class="govuk-visually-hidden">View </span>25<span class="govuk-visually-hidden"> results per page</span></a></span>
      <span class="govuk-!-margin-left-1">|</span><span class="govuk-!-margin-left-1"><a class="govuk-link"><span class="govuk-visually-hidden">View </span>50<span class="govuk-visually-hidden"> results per page</span></a></span>
      <span class="govuk-!-margin-left-1">|</span><span class="govuk-!-margin-left-1"><a class="govuk-link"><span class="govuk-visually-hidden">View </span>100<span class="govuk-visually-hidden"> results per page</span></a></span></p>
    </div>
  
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Date published</th>
            <th scope="col" class="govuk-table__header">Project update</th>
            <th scope="col" class="govuk-table__header">Email</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">13 Jan 2025</td>
            <td class="govuk-table__cell">This is a project update description</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell"><strong class="govuk-tag">
                Published
              </strong></td>
            <td class="govuk-table__cell"><a href="checkUpdate">Review</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">14 Jan 2025</td>
            <td class="govuk-table__cell">This is a project update description</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">
                Unpublished
              </strong></td>
            <td class="govuk-table__cell"><a href="checkUpdate">Review</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">15 Jan 2025</td>
            <td class="govuk-table__cell">This is a project update description</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">
                Archived
              </strong></td>
            <td class="govuk-table__cell"><a href="checkUpdate">Review</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">16 Jan 2025</td>
            <td class="govuk-table__cell">This is a project update description</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">
                Draft
              </strong></td>
            <td class="govuk-table__cell"><a href="checkUpdate">Review</a></td>
          </tr>
        </tbody>
      </table>
    </div>



{% endblock %}