{% extends "layouts/main.html" %}

{% block pageTitle %}
Project team – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back to applications",
href: "../Applications/"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "../_includes/project-description.html" %}
  <div class="govuk-grid-column-one-quarter" style="padding: 0px;">
    <nav class="side-nav">
      <ul class="govuk-list">
        <li><a href="../Overview/">Overview</a></li>
        <li><a href="../KeyDates/">Key dates</a></li>
        <li><a href="../ProjectTeam/" class="selected">Project team</a></li>
        <li><a href="../ProjectDocumentation/">Project documentation</a></li>
        <li><a href="../ProjectUpdates/">Project updates</a></li>
        <li><a href="../ExaminationTimetable/">Examination timetable</a></li>
        <li><a href="../ExaminationLibrary/">Examination library</a></li>
        <li><a href="../Fees/">Fees and forecasting</a></li>
      </ul>
    </nav>
  </div>

  <div class="govuk-grid-column-three-quarters">

    <h2 class="govuk-heading-m">Project team</h2>
    <p class="govuk-body">Add team members and their roles to the project.</p>

    <div class="govuk-button-group">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Add team member
      </button>
    </div>
  </div>
</div>



{% endblock %}