{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Enter the project email (optional)
      </h1>

      <form class="form" action="./08_Organisation" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label govuk-visually-hidden" for="caseEmail">
            Team mail address
          </label>
          <div id="caseEmail-hint" class="govuk-hint">
            For example, NIEnquiries@planninginspectorate.gov.uk
          </div>
        <input class="govuk-input govuk-!-width-two-third" id="caseEmail" name="caseEmail" type="text" aria-describedby="caseEmail-hint">
        </div>

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
