{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Enter the Applicant’s website (optional)
      </h1>

      <form class="form" action="./09-4_ContactEmail" method="post">

        <div class="govuk-form-group">
          <div id="geographicalInformation.locationDescription-hint" class="govuk-hint govuk-!-width-three-quarters">
            For example, https://www.heathrow.com
          </div>
        <input class="govuk-input govuk-!-width-one-third" id="applicant.firstName" name="applicant.firstName" type="text">
        </div>

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
