{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Enter key dates of the project
      </h1>

      <form class="form" action="./11_CheckAnswers" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="applicant.firstName">
            Anticipated submission date published (optional)
          </label>
          <div id="geographicalInformation.locationDescription-hint" class="govuk-hint">
            Date the Planning Inspectorate expects the application to be submitted. For example, ‘between April and June 2024' or 'in September 2025’.
          </div>
        <input class="govuk-input govuk-!-width-one-third" id="submission-external" name="submission-external" type="text">
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Anticipated submission date internal (optional)
              </h1>
            </legend>
            <div id="passport-issued-hint" class="govuk-hint">
              For example, 27 03 2023
            </div>
            <div class="govuk-date-input" id="submission-internal">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="submission-internal-day" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="submission-internal-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="submission-internal-month" name="submission-internal-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="submission-internal-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="submission-internal-year" name="submission-internal-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
