{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers before creating a new project
      </h1>

      <h2 class="govuk-heading-m">
        Project information
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Project name"
            },
            value: {
              text: data['project-name']
            },
            actions: {
              items: [
                {
                  href: "01_NameDescription",
                  text: "Change",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Project description"
            },
            value: {
              text: data['project-description']
            },
            actions: {
              items: [
                {
                  href: "01_NameDescription",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Sector"
            },
            value: {
              text: data['project-sector']
            },
            actions: {
              items: [
                {
                  href: "02_Sector",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Subsector"
            },
            value: {
              text: data['project-subsector']
            },
            actions: {
              items: [
                {
                  href: "03_Subsector",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Project type"
            },
            value: {
              text: data['project-sectortype']
            },
            actions: {
              items: [
                {
                  href: "03-1_SectorType",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Project location"
            },
            value: {
              text: data['geographicalInformation.locationDescription']
            },
            actions: {
              items: [
                {
                  href: "04_GeographicalInfo",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Grid reference Easting"
            },
            value: {
              text: data['geographicalInformation.gridReference.easting']
            },
            actions: {
              items: [
                {
                  href: "04_GeographicalInfo",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Grid reference Northing"
            },
            value: {
              text: data['geographicalInformation.gridReference.northing']
            },
            actions: {
              items: [
                {
                  href: "04_GeographicalInfo",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Regions"
            },
            value: {
              text: data['geographicalInformation.regionNames']
            },
            actions: {
              items: [
                {
                  href: "05_Regions",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Map zoom level"
            },
            value: {
              text: data['geographicalInformation.mapZoomLevelName']
            },
            actions: {
              items: [
                {
                  href: "06_MapZoom",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Project email"
            },
            value: {
              text: data['caseEmail']
            },
            actions: {
              items: [
                {
                  href: "07_ProjectEmail",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Applicant information
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Organisation name"
            },
            value: {
              text: data['caseOrg']
            },
            actions: {
              items: [
                {
                  href: "08_Organisation",
                  text: "Change",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Contact name"
            },
            value: {
              text: data['applicant.firstName']+' '+data['applicant.lastName']
            },
            actions: {
              items: [
                {
                  href: "09-1_ContactName",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Address"
            },
            value: {
              text: data['applicant.address']
            },
            actions: {
              items: [
                {
                  href: "09-2_ContactAddress",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Website"
            },
            value: {
              text: data['applicant.website']
            },
            actions: {
              items: [
                {
                  href: "09-3_ContactWebsite",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Email address"
            },
            value: {
              text: data['applicant.email']
            },
            actions: {
              items: [
                {
                  href: "09-4_ContactEmail",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Telephone number"
            },
            value: {
              text: data['applicant.number']
            },
            actions: {
              items: [
                {
                  href: "09-5_ContactNumber",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Key dates
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Anticipated submission date published"
            },
            value: {
              text: data['submission-external']
            },
            actions: {
              items: [
                {
                  href: "10_KeyDates",
                  text: "Change",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Anticipated submission date internal"
            },
            value: {
              text: data['submission-internal-day']+'/'+data['submission-internal-month']+'/'+data['submission-internal-year']
            },
            actions: {
              items: [
                {
                  href: "10_KeyDates",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
        ]
      }) }}


      <h2 class="govuk-heading-m">
        Now send your application
      </h2>

      <p>
        By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <form action="12_ConfirmationPage" method="post" novalidate>

        {{ govukButton({
          href: "12_ConfirmationPage.html",
          text: "I accept - confirm creation of a new case"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
