{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Choose a project type
      </h1>

      <form class="form" action="./04_GeographicalInfo" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="project-sectortype-1" name="project-sectortype" type="radio" value="Biomass">
                <label class="govuk-label govuk-radios__label" for="project-sectortype-1">
                  Biomass
                </label>
                </div>
                <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="project-sectortype-2" name="project-sectortype" type="radio" value="Coal power station">
                <label class="govuk-label govuk-radios__label" for="project-sectortype-2">
                  Coal power station
                </label>
                </div>
                <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="project-sectortype-3" name="project-sectortype" type="radio" value="Energy from waste">
                <label class="govuk-label govuk-radios__label" for="project-sectortype-3">
                  Energy from waste
                </label>
                </div>
                <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="project-sectortype-4" name="project-sectortype" type="radio" value="Gas power station">
                <label class="govuk-label govuk-radios__label" for="project-sectortype-4">
                  Gas power station
                </label>
                </div>
                <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="project-sectortype-5" name="project-sectortype" type="radio" value="Hydro-electric">
                <label class="govuk-label govuk-radios__label" for="project-sectortype-5">
                  Hydro-electric
                </label>
                </div>
                <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="project-sectortype-6" name="project-sectortype" type="radio" value="Hydrogen power station">
                <label class="govuk-label govuk-radios__label" for="project-sectortype-6">
                  Hydrogen power station
                </label>
                </div>
                <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="project-sectortype-7" name="project-sectortype" type="radio" value="Nuclear">
                <label class="govuk-label govuk-radios__label" for="project-sectortype-7">
                  Nuclear
                </label>
                </div>
                <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="project-sectortype-8" name="project-sectortype" type="radio" value="Offshore wind">
                <label class="govuk-label govuk-radios__label" for="project-sectortype-8">
                  Offshore wind
                </label>
                </div>
                <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="project-sectortype-9" name="project-sectortype" type="radio" value="Onshore wind">
                <label class="govuk-label govuk-radios__label" for="project-sectortype-9">
                  Onshore wind
                </label>
                </div>
                <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="project-sectortype-10" name="project-sectortype" type="radio" value="Solar">
                <label class="govuk-label govuk-radios__label" for="project-sectortype-10">
                  Solar
                </label>
                </div>
                <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="project-sectortype-11" name="project-sectortype" type="radio" value="Tidal barrage">
                <label class="govuk-label govuk-radios__label" for="project-sectortype-11">
                  Tidal barrage
                </label>
                </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
