{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Choose a subsector
      </h1>

      <form class="form" action="./03-1_SectorType" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive" name="project-subsector" type="radio" value="Generating Stations">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                  Generating Stations
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-2" name="project-subsector" type="radio" value="Electric Lines">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                  Electric Lines
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-3" name="project-subsector" type="radio" value="Underground Gas Storage Facilities">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
                  Underground Gas Storage Facilities
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-4" name="project-subsector" type="radio" value="LNG Facilities">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
                  LNG Facilities
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-5" name="project-subsector" type="radio" value="Gas Reception Facilities">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-5">
                  Gas Reception Facilities
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-5" name="project-subsector" type="radio" value="Gas Transporter Pipe-lines">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-5">
                  Gas Transporter Pipe-lines
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-5" name="project-subsector" type="radio" value="Other Pipe-lines">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-5">
                  Other Pipe-lines
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
