{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
        Enter geographical information
      </h1>
      <form class="form" action="./05_Regions" method="post">

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="more-detail">
          Project location
        </label>
        <div id="geographicalInformation.locationDescription-hint" class="govuk-hint govuk-!-width-three-quarters">
          for example, approximately 8km off the coast of Kent, in areas surrounding Thanet Offshore Wind Farm
        </div>
        <textarea class="govuk-textarea govuk-!-width-three-quarters" id="geographicalInformation.locationDescription" name="geographicalInformation.locationDescription" rows="5" aria-describedby="geographicalInformation.locationDescription-hint"></textarea>
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="more-detail">
          Grid reference Easting
        </label>
        <div id="geographicalInformation.gridReference.easting-hint" class="govuk-hint">
          for example, 345678
        </div>
        <input class="govuk-input govuk-!-width-one-third" id="geographicalInformation.gridReference.easting" name="geographicalInformation.gridReference.easting" type="text" aria-describedby="geographicalInformation.gridReference.easting-hint">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="more-detail">
          Grid reference Northing
        </label>
        <div id="geographicalInformation.gridReference.northing-hint" class="govuk-hint">
          for example, 345678
        </div>
      <input class="govuk-input govuk-!-width-one-third" id="geographicalInformation.gridReference.northing" name="geographicalInformation.gridReference.northing" type="text" aria-describedby="geographicalInformation.gridReference.northing-hint">
      </div>
      {{ govukButton({
        text: "Save and continue"
      }) }}
      </form>
    </div>
  </div>

{% endblock %}