{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <h1 class="govuk-heading-l">
      Search results
    </h1>

    <div class="govuk-grid-column-full">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label id="caseEmail-hint" class="govuk-hint">
            Search cases
          </label>
        </h1>
        <input class="govuk-input govuk-input--width-20" id="event-name" name="eventName" type="text">
        <a class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button" href="search.html?">
          Search
        </a>
      </div>
      
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--s" for="more-detail">
            8 results
          </label>
        </h1>
      </div>
      
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Name</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">Stage</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__header">
                        <a class="govuk-body" href="/../Project/Overview/Overview.html">XX0000000 - Case
                            name placeholder</a>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <strong class="govuk-tag govuk-tag--green">Pre-application</strong>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__header">
                        <a class="govuk-body" href="Project/Overview.html">XX0000000 - Case name
                            placeholder</a>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <strong class="govuk-tag govuk-tag--blue">Pre-examination</strong>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__header">
                        <a class="govuk-body" href="Project/Overview.html">XX0000000 - Case name
                            placeholder</a>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <strong class="govuk-tag govuk-tag--purple">Examination</strong>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__header">
                        <a class="govuk-body" href="Project/Overview.html">XX0000000 - Case name
                            placeholder</a>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <strong class="govuk-tag govuk-tag--grey">Post-decision</strong>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__header">
                        <a class="govuk-body" href="Project/Overview.html">XX0000000 - Case name
                            placeholder</a>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <strong class="govuk-tag govuk-tag--orange">Withdrawn</strong>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__header">
                        <a class="govuk-body" href="Project/Overview.html">XX0000000 - Case name
                            placeholder</a>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <strong class="govuk-tag govuk-tag--yellow">Recommendation</strong>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__header">
                        <a class="govuk-body" href="Project/Overview.html">XX0000000 - Case name
                            placeholder</a>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <strong class="govuk-tag govuk-tag--pink">Decision</strong>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__header">
                        <a class="govuk-body" href="Project/Overview.html">XX0000000 - Case name
                            placeholder</a>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <strong class="govuk-tag govuk-tag--turquoise">Acceptance</strong>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>

{% endblock %}
