<div class="grey-box">
    <span class="govuk-caption-xl">EN0110007</span>
    <h1 class="govuk-heading-xl">Longfield Solar Farm</h1>
    <p class="govuk-!-margin-top-0">Energy, Generating Stations</p>
    <div class="govuk-button-group">
      <strong class="govuk-tag govuk-tag--green govuk-!-margin-right-3">Acceptance</strong>
      <a class="govuk-link" href="#">View live published project (opens in new tab)</a>
    </div>
  </div>
<style>
  .grey-box {
    background-color: #f3f2f1;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
  }
</style>