<style>
  .govuk-header, .govuk-header__container {
    background-color: rgb(7, 71, 69);
  }

  /* Project map */
  #tooltiptext {
    visibility: hidden;
    background-color: white;
    color: #000;
    text-align: left;
    margin: 10px;
    padding: 16px;
    border-radius: 4px;
    left: 1300px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }

  #tooltiptext:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: #ffffff transparent;
    border-width: 10px 10px 0;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
  }

  /*map projects*/
  #tooltip {
    height: 650px;
    width: 100%;
    background-color: rgb(188, 214, 188);
    text-align: center;
    padding-top: 400px"
  }

  .tooltipMarkers {
    background-image: url("../public/images/front-office/map-view/Markers.png");
    background-size: cover;
  }

  .tooltipBoundaries {
    background-image: url("../public/images/front-office/map-view/Boundaries.png");
    background-size: cover;
  }
</style>