{% extends "layouts/main.html" %}

{% block pageTitle %}
  Exam library tracker – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#">Deadline item name must follow format of Deadline X, where X is a number optionally followed by a letter</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <form action="create_item_details">
      <h1 class="govuk-heading-l">
				Create new item
			</h1>   
      <p class="govuk-body"><strong>Timetable item type</strong></p>
      <p class="govuk-body">Deadline</p>
      <!--Name-->
      <div class="govuk-form-group govuk-form-group--error">
        <label class="govuk-label govuk-label--s" for="event-name">
          Item name
        </label>
        <div id="event-name-hint" class="govuk-hint">
          There is a limit of 200 characters
        </div>
        <p id="passport-issued-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error: </span>Deadline item name must follow format of Deadline X, where X is a number optionally followed by a letter
        </p>
        <input class="govuk-input" id="event-name" name="eventName" type="text" aria-describedby="event-name-hint">
      </div>

      <!--date-->
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="date-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Date
          </legend>
          <div id="passport-issued-hint" class="govuk-hint">
            For example, 27 3 2007
          </div>
          <div class="govuk-date-input" id="date">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="date-day" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="date-month" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="date-year" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <!--Start date-->
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="date-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Start date
          </legend>
          <div id="passport-issued-hint" class="govuk-hint">
            For example, 27 3 2007
          </div>
          <div class="govuk-date-input" id="date">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="date-day" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="date-month" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="date-year" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <!--End date-->
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="date-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            End date
          </legend>
          <div id="passport-issued-hint" class="govuk-hint">
            For example, 27 3 2007
          </div>
          <div class="govuk-date-input" id="date">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="date-day" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="date-month" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="date-year" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-inset-text">
        The portal for this deadline will open when the previous one closes or on your chosen start and end dates.
      </div>

      <!--Description-->
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="more-detail">
          Timetable item description (optional)
        </label>
        <div id="event-name-hint" class="govuk-hint">
          Use an asterisk (*) to denote a new bullet point
        </div>
        <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="20"></textarea>
      </div>
      </form>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </div>
  </div>

{% endblock %}
