{% extends "layouts/main.html" %}

{% block pageTitle %}
Project team – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back to applications",
href: "/../../Applications/"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% include "../_includes/project-description.html" %}


  <style>
    .side-nav {
      padding-right: 20px;
    }

    .side-nav ul {
      list-style: none;
      padding-left: 0;
      margin: 0;
    }

    .side-nav li {
      margin-bottom: 5px;
    }

    .side-nav a {
      display: block;
      padding: 10px 15px;
      text-decoration: none;
      padding: 12px 8px;
      font-size: 16px;
      color: #1d70b8;
      border-left: 5px solid transparent;
    }

    .side-nav a:hover {
      background-color: #f3f2f1;
    }

    .side-nav a.selected {
      background-color: #f3f2f1;
      font-weight: bold;
      border-left: 5px solid #1d70b8;
      color: #0b0c0c;
    }
  </style>
  <div class="govuk-grid-column-one-quarter" style="padding: 0px;">
    <nav class="side-nav">
      <ul class="govuk-list">
        <li><a href="/Overview/">Overview</a></li>
        <li><a href="/KeyDates/">Key dates</a></li>
        <li><a href="/ProjectTeam/" class="selected">Project team</a></li>
        <li><a href="/ProjectDocumentation/">Project documentation</a></li>
        <li><a href="/ProjectUpdates/">Project updates</a></li>
        <li><a href="/ExaminationTimetable/">Examination timetable</a></li>
        <li><a href="/ExaminationTimetable/overview_examLibrary">Examination library</a></li>
        <li><a href="/Fees/">Fees and forecasting</a></li>
      </ul>
    </nav>
  </div>

  <div class="govuk-grid-column-three-quarters">

    <h2 class="govuk-heading-m">Project team</h2>
    <p class="govuk-body">Add team members and their roles to the project.</p>

    <div class="govuk-button-group">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Add team member
      </button>
    </div>
  </div>
</div>



{% endblock %}