{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Longfield Solar Farm</span>
    <h1 class="govuk-heading-xl">
      Project boundary
    </h1>
  </div>
</div>
   
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "../GISTool/_includes/map.html" %}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="change-ruleset" method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Confirm shapefile for report
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="project-shapefile-1" name="shapefile" type="radio" value="Acceptance-EN0110007.geojson">
              <label class="govuk-label govuk-radios__label" for="project-shapefile-1">
                Acceptance-EN0110007.geojson
              </label>
              <div id="council-item-hint" class="govuk-hint govuk-radios__hint">
                Uploaded: 11:20, 19 Sep 2026
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="project-shapefile-2" name="shapefile" type="radio" value="Longfield-solar-farm-shapefiles.geojson">
              <label class="govuk-label govuk-radios__label" for="project-shapefile-2">
                Longfield-solar-farm-shapefile.geojson
              </label>
              <div id="council-item-hint" class="govuk-hint govuk-radios__hint">
                Uploaded: 12:16, 29 Jul 2026
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}