{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="preview-report" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-xl">Longfield Solar Farm</span>
            <h1 class="govuk-fieldset__heading">
              Ruleset
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="party-type-1" name="party-type" type="radio" value="Applicant">
              <label class="govuk-label govuk-radios__label" for="party-type-1">
                Post April 2024 (England and Wales)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="party-type-2" name="party-type" type="radio" value="Local authority">
              <label class="govuk-label govuk-radios__label" for="party-type-2">
                Pre April 2024 (England)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="party-type-4" name="party-type" type="radio" value="Statutory body">
              <label class="govuk-label govuk-radios__label" for="party-type-4">
                Pre April 2024 (Wales)
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Identify consultees"
      }) }}

    </form>

  </div>
</div>


{% endblock %}