{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Identify consultees for a NSIP project
    </h1>
    <h2 class="govuk-heading-m">
      Find a project
    </h2>
    <form method="post" action="#" novalidate="" role="search" aria-label="Applications">
      <div class="govuk-form-group">
        <label class="govuk-label pins-dashboard-form--label" for="searchApplications">
          Enter keyword, case reference or case title
        </label>
        <input class="govuk-input" style="width: 522px;" id="searchApplications" name="query" type="text" value="" inputmode="search">   
        <button type="submit" class="govuk-button pins-dashboard-form--btn" data-module="govuk-button" data-govuk-button-init="">
          Search
        </button>
     </div>
    </form>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Projects</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Stage</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a class="govuk-link" href="project">EN0110011 - Longfield Solar Farm</a></th>
          <td class="govuk-table__cell govuk-table__header--numeric">
            <strong class="govuk-tag govuk-tag--green">Pre-application</strong>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a class="govuk-link" href="project">EN0110012 - Shortfield Wind Farm</a></th>
          <td class="govuk-table__cell govuk-table__header--numeric">
            <strong class="govuk-tag govuk-tag--turquoise">Acceptance</strong>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}