{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back to projects",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-full">
    <div class="grey-box">
      <span class="govuk-caption-xl">EN0110007</span>
      <h1 class="govuk-heading-xl">
        Longfield Solar Farm
      </h1>
      <p class="govuk-!-margin-top-0">Energy, Generating Stations, Solar</p>
      <strong class="govuk-tag govuk-tag--turquoise govuk-!-margin-right-3">Acceptance</strong>
    </div>
  </div>
</div>
<!-- Dropdown menu
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div class="govuk-form-group">
      <label class="govuk-label" for="ruleset">
        Ruleset
      </label>
      <select class="govuk-select" id="ruleset" name="ruleset">
        <option value="published" selected>Post Apr 2024 (England and Wales)</option>
        <option value="updated">Pre Apr 2024 (England)</option>
        <option value="views">Pre Apr 2024 (Wales)</option>
      </select>
    </div>
  </div>
</div>
-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Shapefile
        </dt>
        <dd class="govuk-summary-list__value">
          Shapefile_filename.geojson
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="change-shapefile">Change<span class="govuk-visually-hidden"> shapefile</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Ruleset
        </dt>
        <dd class="govuk-summary-list__value">
          Post April 2024 (England and Wales)
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="change-ruleset">Change<span class="govuk-visually-hidden"> ruleset</span></a>
        </dd>
      </div>
    </dl>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div style="background-color: rgb(95, 140, 99); height: 600px; margin-bottom: 20px;">Insert map here</div>
  </div>
</div>
<!--
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Consultees</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Amount</th>
          <th scope="col" class="govuk-table__header">Actions</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">District councils</th>
          <td class="govuk-table__cell">5</td>
          <td class="govuk-table__cell"><a class="govuk-link" href="#">Show</a> | <a class="govuk-link" href="manage-consultee">Manage</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">National parks and broads</th>
          <td class="govuk-table__cell">2</td>
          <td class="govuk-table__cell"><a class="govuk-link" href="#">Show</a> | <a class="govuk-link" href="manage-consultee">Manage</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Host parishes or community councils</th>
          <td class="govuk-table__cell">12</td>
          <td class="govuk-table__cell"><a class="govuk-link" href="#">Show</a> | <a class="govuk-link" href="manage-consultee">Manage</a></td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="preview-report" method="post">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Preview report
      </button>
    </form>
  </div>
</div>
{% endblock %}