{% extends "layouts/main.html" %}

{% block pageTitle %}
  Manage project meetings – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="./index" method="post">

        <h1 class="govuk-heading-l">
          Manage project meeting
        </h1>

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label" for="event-name">
              <strong>Purpose of meeting</strong>
            </label>
            <div id="authentication-code-hint" class="govuk-hint">
              for example, Project Update Meeting (PUM)
            </div>
          </h1>
          <input class="govuk-input" id="event-name" name="eventName" type="text">
        </div>

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label" for="event-name">
              <Strong>Planning inspectorate role in meeting (optional)</Strong>
            </label>
            <div id="authentication-code-hint" class="govuk-hint">
              for example, advisory
            </div>
          </h1>
          <input class="govuk-input" id="event-name" name="eventName" type="text">
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
            <legend class="govuk-fieldset__legend">
              <strong>Date of project meeting</strong>
            </legend>
            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Save and return"
        }) }}
      
        {{ govukButton({
          text: "Remove meeting",
          classes: "govuk-button--secondary",
          href: "delete_meeting"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
