{% extends "layouts/main.html" %}

{% block pageTitle %}
  Manage evidence plan process – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="index">You must cancel all scheduled evidence plan meetings in order to remove the evidence plan process</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <form class="form" action="./index" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Evidence plan process
              </h1>
            </legend>
            <div id="changedName-hint" class="govuk-hint">
              The schedule of evidence plan activities should be provided before the process begins.
            </div>
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="changedName">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="changedName-2">
                  No
                </label>
              </div>
            </div>
            <div class="govuk-inset-text">
              Adding the evidence plan process will require you to add any scheduled meetings to the evidence plan meetings section.
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Save and return"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
