{% extends "layouts/main.html" %}

{% block pageTitle %}
Fees and forecasting – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back to applications",
href: "/../../Applications/"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% include "../_includes/project-description.html" %}


    <style>
      .side-nav {
        padding-right: 20px;
      }

      .side-nav ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
      }

      .side-nav li {
        margin-bottom: 5px;
      }

      .side-nav a {
        display: block;
        padding: 10px 15px;
        text-decoration: none;
        color: #1d70b8;
        border-left: 5px solid transparent;
      }

      .side-nav a:hover {
        background-color: #f3f2f1;
      }

      .side-nav a.selected {
        background-color: #f3f2f1;
        font-weight: bold;
        border-left: 5px solid #1d70b8;
        color: #0b0c0c;
      }
    </style>
    <div class="govuk-grid-column-one-quarter">
      <nav class="side-nav">
        <ul class="govuk-list">
          <li><a href="/Overview/">Overview</a></li>
          <li><a href="/KeyDates/">Key dates</a></li>
          <li><a href="/ProjectTeam/">Project team</a></li>
          <li><a href="/ProjectDocumentation/">Project documentation</a></li>
          <li><a href="/ProjectUpdates/">Project updates</a></li>
          <li><a href="/ExaminationTimetable/">Exam timetable</a></li>
          <li><a href="/Fees/" class="selected">Fees and forecasting</a></li>
        </ul>
      </nav>
    </div>

    <div class="govuk-grid-column-three-quarters">

      <h2 class="govuk-heading-m">Fees and forecasting</h2>
      <p class="govuk-body">Provide details on fees and forecasting in this project.</p>

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Accepted application fees
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content">
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  New maturity
                </dt>
                <dd class="govuk-summary-list__value">
                  A
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/edit_maturity">Change<span class="govuk-visually-hidden"> new
                      maturity</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Pre-exam invoice
                </dt>
                <dd class="govuk-summary-list__value">
                  £78,926.00</br>
                  1800004427</br>
                  9 Jan 2025
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/edit_invoice">Change<span class="govuk-visually-hidden"> pre-exam invoice</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Initial exam invoice
                </dt>
                <dd class="govuk-summary-list__value">
                  £78,926.00</br>
                  1800004427</br>
                  12 Mar 2025
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/edit_invoice">Change<span class="govuk-visually-hidden"> intial exam invoice
                      reference</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Final exam invoice
                </dt>
                <dd class="govuk-summary-list__value">

                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/edit_invoice">Add<span class="govuk-visually-hidden"> final exam invoice</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Examining inspectors
                </dt>
                <dd class="govuk-summary-list__value">
                  4 band 2 inspectors,
                  <br>
                  1 band 3 inspectors
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/edit_inspectors">Change<span class="govuk-visually-hidden"> examining inspectors</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  MEM last updated
                </dt>
                <dd class="govuk-summary-list__value">
                  20 May 2025
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/edit_MEM">Change<span class="govuk-visually-hidden"> MEM last updated</span></a>
                </dd>
              </div>
            </dl>
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                Pre-application overview
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content">
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Tier
                </dt>
                <dd class="govuk-summary-list__value">
                  Enhanced
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/edit_projTier">Change<span class="govuk-visually-hidden"> tier</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Link to s61 summary
                </dt>
                <dd class="govuk-summary-list__value">
                  <a class="govuk-link" href="#">s61-summary-project.com/link</a>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/edit_s61SummaryLink">Change<span class="govuk-visually-hidden"> s61</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Link to programme documentation
                </dt>
                <dd class="govuk-summary-list__value">
                  <a class="govuk-link" href="#">prog-doc-project.com/link</a>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/edit_progDocLink">Change<span class="govuk-visually-hidden"> documentation</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Estimated scoping submission date
                </dt>
                <dd class="govuk-summary-list__value">
                  20 May 2025
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/edit_scopingDate.html">Change<span class="govuk-visually-hidden"> scoping date</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Adequacy of Consultation Milestone
                </dt>
                <dd class="govuk-summary-list__value">
                  01 Jun 2025
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="../edit_AocDate.html">Change<span class="govuk-visually-hidden"> AoC</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Year of service
                </dt>
                <dd class="govuk-summary-list__value">
                  Apr 2025 - Mar 2026
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="../edit_yearOfService">Change<span class="govuk-visually-hidden"> year of service</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Anticipated submission date internal
                </dt>
                <dd class="govuk-summary-list__value">
                  20 May 2025
                </dd>
                <dd class="govuk-summary-list__actions">

                </dd>
              </div>
            </dl>
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                Pre-application payments
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content">
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Payments start from
                </dt>
                <dd class="govuk-summary-list__value">
                  01 Apr 2025
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/edit_paymentsStart">Change<span class="govuk-visually-hidden"> payments start
                      date</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Invoiced
                </dt>
                <dd class="govuk-summary-list__value">
                  9 Jan 2025
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> invoiced</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Due
                </dt>
                <dd class="govuk-summary-list__value">
                  12 Oct 2025
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> due date</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Paid
                </dt>
                <dd class="govuk-summary-list__value">

                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> paid date</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Refunded
                </dt>
                <dd class="govuk-summary-list__value">

                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> refunded date</span></a>
                </dd>
              </div>
            </dl>
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                Pre-application project meetings
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content">
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Inception meeting
                </dt>
                <dd class="govuk-summary-list__value">
                  9 Jan 2025
                </dd>
                <dd class="govuk-summary-list__actions">

                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Project Update Meeting (PUM)
                </dt>
                <dd class="govuk-summary-list__value">
                  11 Jan 2025
                </dd>
                <dd class="govuk-summary-list__actions">
                  <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="/edit_Meeting">Change<span class="govuk-visually-hidden"> meeting</span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="/delete_Meeting">Remove<span class="govuk-visually-hidden"> meeting</span></a>
                    </li>
                  </ul>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Draft document review meeting
                </dt>
                <dd class="govuk-summary-list__value">
                  11 Jan 2025
                </dd>
                <dd class="govuk-summary-list__actions">
                  <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="/edit_Meeting">Change<span class="govuk-visually-hidden"> meeting</span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="/delete_Meeting">Remove<span class="govuk-visually-hidden"> meeting</span></a>
                    </li>
                  </ul>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Pre-scoping meeting
                </dt>
                <dd class="govuk-summary-list__value">
                  11 Jan 2025
                </dd>
                <dd class="govuk-summary-list__actions">
                  <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="/edit_Meeting">Change<span class="govuk-visually-hidden"> meeting</span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="/delete_Meeting">Remove<span class="govuk-visually-hidden"> meeting</span></a>
                    </li>
                  </ul>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Multi Party Meeting (MPM)
                </dt>
                <dd class="govuk-summary-list__value">
                  11 Jan 2025
                </dd>
                <dd class="govuk-summary-list__actions">
                  <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="/edit_Meeting">Change<span class="govuk-visually-hidden"> meeting</span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="/delete_Meeting">Remove<span class="govuk-visually-hidden"> meeting</span></a>
                    </li>
                  </ul>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Post-scoping meeting
                </dt>
                <dd class="govuk-summary-list__value">
                  11 Jan 2025
                </dd>
                <dd class="govuk-summary-list__actions">
                  <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="/edit_Meeting">Change<span class="govuk-visually-hidden"> meeting</span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="/delete_Meeting">Remove<span class="govuk-visually-hidden"> meeting</span></a>
                    </li>
                  </ul>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Policy Compliance Document (PCD) meeting
                </dt>
                <dd class="govuk-summary-list__value">
                  11 Jan 2025
                </dd>
                <dd class="govuk-summary-list__actions">
                  <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="/edit_Meeting">Change<span class="govuk-visually-hidden"> meeting</span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="/delete_Meeting">Remove<span class="govuk-visually-hidden"> meeting</span></a>
                    </li>
                  </ul>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Design Approach Document (DAD) meeting
                </dt>
                <dd class="govuk-summary-list__value">
                  11 Jan 2025
                </dd>
                <dd class="govuk-summary-list__actions">
                  <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="/edit_Meeting">Change<span class="govuk-visually-hidden"> meeting</span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="/delete_Meeting">Remove<span class="govuk-visually-hidden"> meeting</span></a>
                    </li>
                  </ul>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Project Update Meeting (PUM)
                </dt>
                <dd class="govuk-summary-list__value">
                  11 Jan 2025
                </dd>
                <dd class="govuk-summary-list__actions">
                  <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="/edit_Meeting">Change<span class="govuk-visually-hidden"> meeting</span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="/delete_Meeting">Remove<span class="govuk-visually-hidden"> meeting</span></a>
                    </li>
                  </ul>
                </dd>
              </div>
              <div class="govuk-summary-list__row--no-border">
                <dd class="govuk-summary-list__actions" style="text-align: left;">
                  <a class="govuk-link"  href="/edit_Meeting">Add a new meeting</a>
                </dd>
              </div>
            </dl>
            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                This project has reached its typical meeting allowance (9). Ensure any additional meetings are
                necessary, as they may exceed the agreed scope for the selected tier.
              </strong>
            </div>
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-5">
                Pre-application evidence plan process
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-5" class="govuk-accordion__section-content">
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Evidence plan process
                </dt>
                <dd class="govuk-summary-list__value">
                  Required
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/edit_EvidenceMeeting">Change<span class="govuk-visually-hidden"> c1</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Flood Risk Assessment (FRA)
                </dt>
                <dd class="govuk-summary-list__value">
                  9 Jan 2025 </br>
                  Advisory role
                </dd>
                <dd class="govuk-summary-list__actions">
                  <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="/edit_EvidenceMeeting">Change<span class="govuk-visually-hidden"> meeting</span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="/delete_Meeting">Remove<span class="govuk-visually-hidden"> meeting</span></a>
                    </li>
                  </ul>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Habitat regulation assessment (HRA)
                </dt>
                <dd class="govuk-summary-list__value">
                  19 Jan 2025 </br>
                  Advisory role
                </dd>
                <dd class="govuk-summary-list__actions">
                  <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="/edit_EvidenceMeeting">Change<span class="govuk-visually-hidden"> meeting</span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="/delete_Meeting">Remove<span class="govuk-visually-hidden"> meeting</span></a>
                    </li>
                  </ul>
                </dd>
              </div>
              <div class="govuk-summary-list__row--no-border">
                <dd class="govuk-summary-list__actions" style="text-align: left;">
                  <a class="govuk-link" href="./edit_EvidenceMeeting">Add new meeting</a>
                </dd>
              </div>
            </dl>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-7">
                  Pre-application supplementary components
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-7" class="govuk-accordion__section-content">
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Issues tracker
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <a href="#">issue-tracker123.com</a>
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="/edit_IssueTracker">Change<span class="govuk-visually-hidden"> issues tracker</span></a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Essential fast track components
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Yes
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="/edit_fastTrackComps">Change<span class="govuk-visually-hidden"> C9</span></a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Principal area disagreement summary statement (PADSS)
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Submitted
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="/edit_PADSS">Change<span class="govuk-visually-hidden"> C2</span></a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Policy compliance document (PCD)
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Awaiting: Expecting submission at draft docs
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> C3</span></a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Design approach document (DAD)
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Awaiting: Applicant preparing DAD see issues tracker
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> C4</span></a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Mature outline control documents
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Awaiting: Expecting submission at draft docs
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> C5</span></a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    CA and TP evidence
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Awaiting: Being updated regularly
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> C7</span></a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Public sector equality duty (PSED)
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Awaiting: Applicant preparing
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> C8</span></a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Fast track admission document
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Not applicable
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> fast track</span></a>
                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Multiparty application readiness gate-check (trial)
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Not applicable
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> C9</span></a>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-7">
                  Pre-application programme document events
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-7" class="govuk-accordion__section-content">
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Date PD reviewed by EST
                  </dt>
                  <dd class="govuk-summary-list__value">
                    First iteration: 22 Oct 2025</br>
                    Second iteration: 08 Nov 2025
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> pd
                        review</span></a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Date case team issued intial comments on PD to applicant
                  </dt>
                  <dd class="govuk-summary-list__value">
                    First iteration: 22 Oct 2025</br>
                    Second iteration: 08 Nov 2025
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> pre-exam
                        invoice</span></a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Date updated PD received from applicant
                  </dt>
                  <dd class="govuk-summary-list__value">
                    First iteration: 22 Oct 2025
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> PD update</span></a>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}