{% extends "layouts/main.html" %}

{% block pageTitle %}
Project Search – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "../../FrontOffice/_includes/FO-nav.html" %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
{% include "../../FrontOffice/_includes/FO-components.html" %}

<div class="govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-two-thirds">
    <form action="/13_agent-over18" method="post" novalidate>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--l" for="agent-full-name">
          {% if data['agent-whoFor'] == 'A person' %}
          What is the full name of the person you are representing?
          {% elseif data['agent-whoFor'] == 'A household' %}
          What is the name of the household you are representing?
          {% else %}
          What is the full name of the organisation or charity that you are representing?
          {% endif %}
        </label>
        <input class="govuk-input" id="full-name" name="agent-fullName" type="text" spellcheck="false" autocomplete="name">
      </div>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>



{% endblock %}