{% extends "layouts/main.html" %}

{% block pageTitle %}
  Exam library tracker – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back to applications",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <style>
    .side-nav {
      padding-right: 20px;
    }

    .side-nav ul {
      list-style: none;
      padding-left: 0;
      margin: 0;
    }

    .side-nav li {
      margin-bottom: 5px;
    }

    .side-nav a {
      display: block;
      padding: 10px 15px;
      text-decoration: none;
      padding: 12px 8px;
      font-size: 16px;
      color: #1d70b8;
      border-left: 5px solid transparent;
    }

    .side-nav a:hover {
      background-color: #f3f2f1;
    }

    .side-nav a.selected {
      background-color: #f3f2f1;
      font-weight: bold;
      border-left: 5px solid #1d70b8;
      color: #0b0c0c;
    }
  </style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "../_includes/project-description.html" %}

      <div class="govuk-grid-column-one-quarter" style="padding: 0px;">
        <nav class="side-nav">
          <ul class="govuk-list">
            <li><a href="/Overview/">Overview</a></li>
            <li><a href="/KeyDates/">Key dates</a></li>
            <li><a href="/ProjectTeam/">Project team</a></li>
            <li><a href="/ProjectDocumentation/">Project documentation</a></li>
            <li><a href="/ProjectUpdates/">Project updates</a></li>
            <li><a href="/ExaminationTimetable/">Examination timetable</a></li>
            <li><a href="/ExaminationTimetable/overview_examLibrary" class="selected">Examination library</a></li>
            <li><a href="/Fees/">Fees and forecasting</a></li>
          </ul>
        </nav>
      </div>
      <div class="govuk-grid-column-three-quarters">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-5">
          Examination library
        </h2>      
        <p class="govuk-body">The examination library lists all the documents submitted about the project from the point of application to the close of the examination phase. Any deadlines or meetings added to the examination timetable will appear here as new sections.</p>

        <h2 class="govuk-heading-m">
          Application documents
        </h2>      
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="/ExaminationTimetable/review_examLibrary_unpublished" aria-describedby="company-details-1-status">
                Application documents
              </a>
              <div id="company-details-3-hint" class="govuk-task-list__hint">
                Any amended versions accepted before or at the Preliminary Meeting should be saved as Additional Submissions.
              </div>
            </div>
            <div class="govuk-task-list__status" id="company-details-1-status">
              <strong class="govuk-tag govuk-tag--red">
                Unpublished
              </strong>
            </div>
          </li>
        </ul>

        <h2 class="govuk-heading-m">
          Adequacy of consultation responses
        </h2>      
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="/ExaminationTimetable/review_examLibrary_published" aria-describedby="company-details-2-status">
                Adequecy of consultation representations
              </a>
            </div>
            <div class="govuk-task-list__status" id="company-details-2-status">
              <strong class="govuk-tag govuk-tag--green">
                Published
              </strong>
            </div>
          </li>
        </ul>

        <h2 class="govuk-heading-m">
          Relevant representations (registration comments)
        </h2>      
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link" href="/ExaminationTimetable/review_examLibrary_published" aria-describedby="company-details-3-status">
                Relevant representations (registration comments)
                </a>
            </div>
            <div class="govuk-task-list__status" id="company-details-3-status">
              <strong class="govuk-tag govuk-tag--green">
                Published
              </strong>
            </div>
          </li>
        </ul>

        <h2 class="govuk-heading-m">
          Procedural decisions and notifications from Examining Authority
        </h2>      
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="/ExaminationTimetable/review_examLibrary_published" aria-describedby="company-details-4-status">
                Procedural decisions and notifications from Examining Authority
              </a>
              <div id="company-details-3-hint" class="govuk-task-list__hint">
                Includes Examining Authority’s written questions, event notifications and procedural decisions on the examination.
              </div>
            </div>
            <div class="govuk-task-list__status" id="company-details-4-status">
              <strong class="govuk-tag govuk-tag--green">
                Published
              </strong>
            </div>
          </li>
        </ul>

        <h2 class="govuk-heading-m">
          Additional submissions
        </h2>      
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="/ExaminationTimetable/review_examLibrary_published" aria-describedby="company-details-5-status">
                Additional submissions
              </a>
              <div id="company-details-3-hint" class="govuk-task-list__hint">
                Includes anything accepted at the discretion of the Examining Authority outside of a formal deadline.
              </div>
            </div>
            <div class="govuk-task-list__status" id="company-details-5-status">
              <strong class="govuk-tag govuk-tag--green">
                Published
              </strong>
            </div>
          </li>
        </ul>

        <h2 class="govuk-heading-m">
          Events and hearings
        </h2>      
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="/ExaminationTimetable/review_examLibrary_published" aria-describedby="company-details-5-status">
                Open floor hearing 1
              </a>
            </div>
            <div class="govuk-task-list__status" id="company-details-5-status">
              <strong class="govuk-tag govuk-tag--green">
                Published
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="/ExaminationTimetable/review_examLibrary_published" aria-describedby="company-details-5-status">
                Open floor hearing 2
              </a>
            </div>
            <div class="govuk-task-list__status" id="company-details-5-status">
              <strong class="govuk-tag govuk-tag--green">
                Published
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="/ExaminationTimetable/review_examLibrary_published" aria-describedby="company-details-5-status">
                Issue specific hearing 1
              </a>
            </div>
            <div class="govuk-task-list__status" id="company-details-5-status">
              <strong class="govuk-tag govuk-tag--green">
                Published
              </strong>
            </div>
          </li>
        </ul>

        <h2 class="govuk-heading-m">
          Procedural deadlines
        </h2>      
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="/ExaminationTimetable/review_examLibrary" aria-describedby="company-details-5-status">
                Procedural deadline 1
              </a>
            </div>
            <div class="govuk-task-list__status" id="company-details-5-status">
              <strong class="govuk-tag govuk-tag--green">
                Published
              </strong>
            </div>
          </li>
        </ul>

        <h2 class="govuk-heading-m">
          Deadlines
        </h2>      
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="/ExaminationTimetable/review_examLibrary_published" aria-describedby="company-details-5-status">
                Deadline 1
              </a>
            </div>
            <div class="govuk-task-list__status" id="company-details-5-status">
              <strong class="govuk-tag govuk-tag--green">
                Published
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="/ExaminationTimetable/review_examLibrary" aria-describedby="company-details-5-status">
                Deadline 2
              </a>
            </div>
            <div class="govuk-task-list__status" id="company-details-5-status">
              <strong class="govuk-tag govuk-tag--blue">
                In progress
              </strong>
            </div>
          </li>
        </ul>

        <h2 class="govuk-heading-m">
          Other documents
        </h2>      
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="/ExaminationTimetable/review_examLibrary_published" aria-describedby="company-details-5-status">
                Other documents
              </a>
              <div id="company-details-3-hint" class="govuk-task-list__hint">
                Includes s127/131/138 information, s56, s58 and s59 certificates, and transboundary documents.
              </div>
            </div>
            <div class="govuk-task-list__status" id="company-details-5-status">
              <strong class="govuk-tag govuk-tag--green">
                Published
              </strong>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}
