{% extends "layouts/main.html" %}

{% block pageTitle %}
  Exam library tracker – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
        Check details and publish Application documents to the examination library
      </h1>      
      <p class="govuk-body">The examination library will contain 9 documents. Showing 1 - 9 documents.</p>

      <table class="govuk-table govuk-table--small-text-until-tablet">
        <caption class="govuk-table__caption govuk-table__caption--m">
          Application documents submissions
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Final reference</th>
            <th scope="col" class="govuk-table__header govuk-!-width-three-quarter">Document description</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              APP1-001
            </th>
            <td class="govuk-table__cell">
              <p class="govuk-body"><a href="">1.1 Cover letter</a></p>
            </td>

            
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              APP1-001a
            </th>
            <td class="govuk-table__cell">
              <p class="govuk-body"><a href="">1.1 Updated Cover letter</a></p>
            </td>

            
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              APP1-002
            </th>
            <td class="govuk-table__cell">
              <p class="govuk-body"><a href="">1.2 Application form</a></p>
            </td>

            
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              APP1-003
            </th>
            <td class="govuk-table__cell">
              <p class="govuk-body"><a href="">1.3 Navigation document</a></p>
            </td>

            
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              APP1-004
            </th>
            <td class="govuk-table__cell">
              <p class="govuk-body"><a href="">1.4 Glossary and acronyms</a></p>
            </td>

            
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              APP1-005
            </th>
            <td class="govuk-table__cell">
              <p class="govuk-body"><a href="">1.5 Funding statement</a></p>
            </td>

            
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              APP1-005a
            </th>
            <td class="govuk-table__cell">
              <p class="govuk-body"><a href="">1.5 Funding statement (with amends)</a></p>
            </td>

            
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              APP1-006
            </th>
            <td class="govuk-table__cell">
              <p class="govuk-body"><a href="">2.2 Statement of reasons</a></p>
            </td>

            
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              APP1-007
            </th>
            <td class="govuk-table__cell">
              <p class="govuk-body"><a href="">3.1 Draft development consent order</a></p>
            </td>

            
          </tr>
        </tbody>
      </table>
      
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          Publishing the examination library is irreversible and will permanently assign reference numbers to the above documents. Check all required documents are present.
        </strong>
      </div>

      <div class="govuk-button-group">
        <form action="review_examLibrary_published#banner">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Publish to examination library
          </button>
        </form>
      </div>
      
    </div>
  </div>

{% endblock %}
