{% extends "layouts/main.html" %}

{% block pageTitle %}
  Exam library tracker – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-column-two-thirds">
        
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Examination library category successfully published
          </h1>
          <div class="govuk-panel__body">
            Longfield solar farm<br>The case reference number <strong>EN0110011</strong>
          </div>
        </div>

        <p class="govuk-body"><a class="govuk-link" href="../ExaminationTimetable/overview_examLibrary">Go back to the examination library</a></p>
        
      </div>
    </div>
  </div>

{% endblock %}
