{% extends "layouts/main.html" %}

{% set pageName = "Prototype" %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      <p>Select a version or page of the prototype:</p>

      <ul class="govuk-list govuk-list">
        <li><a href="project/projectdocumentation/relevant-representations">Bulk unnpublish relevant representations journey</a></li>
        <li><a href="applications/applications">Prototype homepage</a></li>
      </ul>

    </div>
  </div>

{% endblock %}