{% extends "layouts/main.html" %}

{% set pageName = "Prototype" %}


{% block content %}

<style>

</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">
    <div class="govuk-service-navigation grey-background" data-module="govuk-service-navigation">
      <div class="govuk-width-container">
        <div class="govuk-service-navigation__container">
          <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
            <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden aria-hidden="true">
              Menu
            </button>
            <ul class="govuk-service-navigation__list" id="navigation">
              <li class="govuk-service-navigation__item">
                <a class="govuk-service-navigation__link" href="index">
                  <strong class="govuk-service-navigation__active-fallback">Back office</strong>
                </a>
              </li>
              <li class="govuk-service-navigation__item">
                <a class="govuk-service-navigation__link" href="indexFO">
                  Front office
                </a>
              </li>
              <li class="govuk-service-navigation__item">
                <a class="govuk-service-navigation__link" href="indexDS">
                  Design patterns
                </a>
              </li>
              <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
                <a class="govuk-service-navigation__link" href="indexAD" aria-current="true">
                  Additional information
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--l">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Additional information</h1>
    <p class="govuk-body">Find extra information on the NSIP applications service design service here. If you spot anything that doesn't look right, <a href="mailto:Alex.Hopkins.7A@planninginspectorate.gov.uk">reach out to Alex Hopkins</a>.</p>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--m">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Useful links</h1>
    <ul class="govuk-list">
      <li><a href="https://pins-ds.atlassian.net/wiki/spaces/AS2/pages/1559003140/Research">User research repository</a></li>
      <li><a href="https://pins-ds.atlassian.net/wiki/spaces/AS2/pages/2172649514/Design+Histories">Design histories</a></li>
      <li><a href="https://pins-ds.atlassian.net/jira/software/c/projects/IDAS/boards/1033">Ongoing design work</a></li>
    </ul>
  </div>
</div>

{% endblock %}