{% extends "layouts/main.html" %}

{% block pageTitle %}
Project Search – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "../../FrontOffice/_includes/FO-nav.html" %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
{% include "../../FrontOffice/_includes/FO-components.html" %}

<div class="govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-two-thirds">
    <form action="/03_over18" method="post" novalidate>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--l" for="full-name">
          What is your full name?
        </label>
        {% if data['whoFor'] == 'Myself' %}
        <div class="govuk-body">We will publish this on the website along with your comments about the project.</div>
        <div class="govuk-body">You must register as an individual. If your partner wants to register, they will have to fill in a separate form with their details.</div>
        {% endif %}
        <input class="govuk-input" id="full-name" name="fullName" type="text" spellcheck="false" autocomplete="name">
      </div>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>



{% endblock %}