{% extends "layouts/main.html" %}

{% block pageTitle %}
Project Search – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "../../FrontOffice/_includes/FO-nav.html" %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
{% include "../../FrontOffice/_includes/FO-components.html" %}

<div class="govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-two-thirds">
    <form action="08_comments" method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              {% if data['whoFor'] == 'On behalf of another person, a household or an organisation I do not work for' %}
              Do they object to the applicant wanting to acquire, use or change rights over this land?
              {% elseif data['whoFor'] == 'An organisation I work or volunteer for' %}
              Does your organisation object to the applicant wanting to acquire, use or change rights over this land?
              {% else %}
              Do you object to the applicant wanting to acquire, use or change rights over this land?
              {% endif %}
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="compulsoryAcquisitionObjection" name="rep_CAobjection" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="compulsoryAcquisitionObjection">
                {% if data['whoFor'] == 'On behalf of another person, a household or an organisation I do not work for' %}
                Yes, they object
                {% elseif data['whoFor'] == 'An organisation I work or volunteer for' %}
                Yes, we object
                {% else %}
                Yes, I object
                {% endif %}
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="compulsoryAcquisitionObjection-2" name="rep_CAobjection" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="compulsoryAcquisitionObjection-2">
                {% if data['whoFor'] == 'On behalf of another person, a household or an organisation I do not work for' %}
                No, they do not object
                {% elseif data['whoFor'] == 'An organisation I work or volunteer for' %}
                No, we do not object
                {% else %}
                No, I do not object
                {% endif %}
              </label>
            </div>
            <div class="govuk-radios__divider">or</div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="compulsoryAcquisitionObjection-2" name="rep_CAobjection" type="radio" value="Do not know">
              <label class="govuk-label govuk-radios__label" for="compulsoryAcquisitionObjection-3">
                Do not know
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>



{% endblock %}