{% extends "layouts/main.html" %}

{% block pageTitle %}
Project Search – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "../../FrontOffice/_includes/FO-nav.html" %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
{% include "../../FrontOffice/_includes/FO-components.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Check your answers before registering</h1>
    <h2 class="govuk-heading-m">{% if data['whoFor'] == 'On behalf of another person, a household or an organisation I do not work for' %}Your{% else %}Personal{% endif %} details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Who are you registering for?
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['whoFor']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="01_whoFor">Change<span class="govuk-visually-hidden"> who you are registering for</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Full name
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['fullName']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="02_fullName">Change<span class="govuk-visually-hidden"> full name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Are you 18 or over?
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['over18']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="03_over18">Change<span class="govuk-visually-hidden"> 18 or over</span></a>
        </dd>
      </div>
      {% if data['orgName']%}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What is the name of your organisation or charity?
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['orgName']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="03_over18">Change<span class="govuk-visually-hidden"> organisation or charity name</span></a>
        </dd>
      </div>
      {% endif %}
      {% if data['jobTitle'] %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What is your job title or volunteer role?
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['jobTitle']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="03_over18">Change<span class="govuk-visually-hidden"> job title or volunteer role</span></a>
        </dd>
      </div>
      {% endif %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['email']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="05_email">Change<span class="govuk-visually-hidden"> email address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">{{data['addressLine1']}}</p>
          <p class="govuk-body">{{data['addressLine2']}}</p>
          <p class="govuk-body">{{data['addressTown']}}</p>
          <p class="govuk-body">{{data['addressPostcode']}}</p>
          <p class="govuk-body">{{data['addressCountry']}}</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="06_address">Change<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Telephone number
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['phone-number']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="07_phone">Change<span class="govuk-visually-hidden"> telephone number</span></a>
        </dd>
      </div>
      {% if data['whoFor'] != 'On behalf of another person, a household or an organisation I do not work for' %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Registration comments
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['comment']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="08_comments">Change<span class="govuk-visually-hidden"> registration comments</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          AI declaration
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['rep_AIusage']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="RelRep_AIusage">Change</a>
        </dd>
      </div>
      {% endif %}
    </dl>
    {% if data['whoFor'] == 'On behalf of another person, a household or an organisation I do not work for' %}
    <h2 class="govuk-heading-m">Who you are representing</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Who are you representing?
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['agent-whoFor']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="01_whoFor">Change<span class="govuk-visually-hidden"> who you are registering for</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {% if data['agent-whoFor'] == 'A person' %}
          What is the full name of the person you are representing?
          {% elseif data['agent-whoFor'] == 'A household' %}
          What is the name of the household you are representing?
          {% else %}
          What is the full name of the organisation or charity that you are representing?
          {% endif %}
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['agent-fullName']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="02_fullName">Change<span class="govuk-visually-hidden"> full name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Are they 18 or over?
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['agent-over18']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="03_over18">Change<span class="govuk-visually-hidden"> 18 or over</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Their email address
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['agent-email']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="05_email">Change<span class="govuk-visually-hidden"> email address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Their address
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">{{data['agent-addressLine1']}}</p>
          <p class="govuk-body">{{data['agent-addressLine2']}}</p>
          <p class="govuk-body">{{data['agent-addressTown']}}</p>
          <p class="govuk-body">{{data['agent-addressPostcode']}}</p>
          <p class="govuk-body">{{data['agent-addressCountry']}}</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="06_address">Change<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Their telephone number
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['agent-phone-number']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="07_phone">Change<span class="govuk-visually-hidden"> telephone number</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Registration comments
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['comment']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="08_comments">Change<span class="govuk-visually-hidden"> registration comments</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          AI declaration
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['rep_AIusage']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="08-1_AIdeclaration">Change</a>
        </dd>
      </div>
    </dl>
    {% endif %}
    <form action="10_declaration" method="post" novalidate>
      <input type="hidden" name="answers-checked" value="true">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue to declaration
      </button>
    </form>
  </div>
</div>



{% endblock %}