{% extends "layouts/main.html" %}

{% block pageTitle %}
Project Search – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "../../FrontOffice/_includes/FO-nav.html" %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
{% include "../../FrontOffice/_includes/FO-components.html" %}

<div class="govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-two-thirds">
    <form action="16_agent-address" method="post" novalidate>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--l" for="agent-email-address">
          What is your email address?
        </label>
        <div id="agent-email-address-hint" class="govuk-hint">We will not contact anyone using these contact details.</div>
        <input class="govuk-input" id="agent-email-address" name="agent-email" type="text" spellcheck="false" autocomplete="name">
      </div>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>



{% endblock %}