{% extends "layouts/main.html" %}

{% block pageTitle %}
Project Search – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "../../FrontOffice/_includes/FO-nav.html" %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
{% include "../../FrontOffice/_includes/FO-components.html" %}

<div class="govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-two-thirds">
    <form action="17_agent-phone" method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What is their address?
            </h1>
          </legend>
          <div id="agent-address-hint" class="govuk-hint">We will not contact anyone using these contact details.</div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="agent-address-line-1">
              Address line 1
            </label>
            <input class="govuk-input" id="agent-address-line-1" name="agent-addressLine1" type="text" autocomplete="address-line1">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="agent-address-line-2">
              Address line 2 (optional)
            </label>
            <input class="govuk-input" id="agent-address-line-2" name="agent-addressLine2" type="text" autocomplete="address-line2">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="agent-address-town">
              Town or city (optional)
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="agent-address-town" name="agent-addressTown" type="text" autocomplete="address-level2">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="agent-address-postcode">
              Postcode
            </label>
            <input class="govuk-input govuk-input--width-10" id="agent-address-postcode" name="agent-addressPostcode" type="text" autocomplete="postal-code">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="agent-address-country">
              Country
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="agent-address-country" name="agent-addressCountry" type="text">
          </div>
        </fieldset>
      </div>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>



{% endblock %}