{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Development Consent Order (DCO) status
      </h1>

      <form class="form" action="./index" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="DCO-status-1" name="DCO-status" type="radio" value="Granted">
                <label class="govuk-label govuk-radios__label" for="DCO-status-1">
                  Granted
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="DCO-status-2" name="DCO-status" type="radio" value="Refused">
                <label class="govuk-label govuk-radios__label" for="DCO-status-2">
                  Refused
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="DCO-status-3" name="DCO-status" type="radio" value="Partially consented">
                <label class="govuk-label govuk-radios__label" for="DCO-status-3">
                  Partially consented
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="DCO-status-4" name="DCO-status" type="radio" value="Quashed">
                <label class="govuk-label govuk-radios__label" for="DCO-status-4">
                  Quashed
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="DCO-status-5" name="DCO-status" type="radio" value="Redetermination">
                <label class="govuk-label govuk-radios__label" for="DCO-status-5">
                  Redetermination
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="DCO-status-6" name="DCO-status" type="radio" value="Withdrawn">
                <label class="govuk-label govuk-radios__label" for="DCO-status-6">
                  Withdrawn
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="DCO-status-7" name="DCO-status" type="radio" value="Revoked">
                <label class="govuk-label govuk-radios__label" for="DCO-status-7">
                  Revoked
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save changes
        </button>
      </form>
    </div>
  </div>

{% endblock %}
